.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color:var(--dfm-primary-lighter)!important;
  overflow-y: auto;
}

// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
  .container-fluid {
    background-color: #fff;
    padding: 0;
    margin: 0;
  }
}
