<div class="container-fluid">
    <div class="container">
        <img src="../../../assets/images/logo.png" width="134px" height="17px" class="mt-4">
    </div>
    <div class=" d-flex login-container">
        <div class="left-container">
            <div class="header">Login</div>
            <div class="sub-header">
                Get access to your appointments <br>
                and test history
            </div>
            <div class="left-container-img mt-3">
                <img src="../../../assets/images/user-with-phone.png" width="250px" height="auto">
            </div>
        </div>

        <div class="right-container">
            <div class="text-center">
                <div class="right-section-header">Sign in</div>
                <div class="right-subheader-section d-flex justify-content-center align-items-center dfm-gap-8 mt-4">
                    <span class="new-user ">New user?</span>
                    <div class="register-user">
                        <dfm-button [color]="'link'" [size]="'lg'" routerLink="/auth/register">
                            Register
                        </dfm-button>
                    </div>
                </div>
            </div>

            <div class="login-form mt-3">
                <div class="p-1">
                    <dfm-input type="text" size="sm" label="Email" placeholder="me@diflexmo.com" [disabled]="false"
                        icon="mail-05" [isInvalid]="false" [readonly]="false">
                    </dfm-input>
                </div>

                <div class="p-1">
                    <dfm-input type="text" size="sm" label="Password" placeholder="Enter password" [disabled]="false"
                        [isInvalid]="false" [readonly]="false">
                    </dfm-input>
                </div>
                <div class="forgot-password">
                    <dfm-button [color]="'link'" [size]="'lg'">
                        Forgot Password
                    </dfm-button>
                </div>
            </div>
            <div class="d-flex justify-content-center flex-column mt-5 align-items-center">
                <div class="text-center">
                    <dfm-button [color]="'primary'" [size]="'lg'">
                        Sign in
                    </dfm-button>
                </div>
                
                <div class="or-section mt-10">
                    <div>
                        <hr class="bg-gray" width="100px">
                    </div>
                    <div><span>&nbsp; or &nbsp; </span></div>
                    <div>
                        <hr class="bg-gray" width="100px">
                    </div>
                </div>

                <dfm-button [color]="'secondary'" [size]="'lg'">
                    Schedule Appointment
                </dfm-button>
            </div>
        </div>
    </div>


    <div class="footer-policy d-flex">
        <div class="footer-left">
            Privacy and cookies policy
        </div>
        <div class="footer-right">
            Powered by Diflexmo Scheduling System
        </div>
    </div>

</div>