.nav {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  flex-direction: row;
  padding: 10px 100px 10px 70px;
  background-color: #f2f4f7;
  position: fixed;
  width: 100%;
  margin: auto;
  top: 23px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 70px!important;
}
.display-5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.right-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 0px 0px;
  // padding: 5px;

}
.register-menu {
  position: relative;
}
.right-logo {
  margin-top: 0px !important;
}
.sub-menu {
  position: absolute;
  background-color: #fff;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0px);
  display: none;
  padding: 10px 5px 10px 5px;
  width: 150px;
  border-radius: 8px;
  min-width: 100px;
  text-align: center;
}
.sub-menu .sub-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
.sub-menu .sub-menu-items .existing-section-btn{
  font-size: 15px!important;
}
.register-menu:hover .sub-menu {
  display: block !important;
  z-index: 99999;
}
.login-link {
  text-decoration: underline;
  cursor: pointer;
  color: #531422;
}

.language-color {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #531422;
  cursor: pointer;
}

.language-color-primary {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #697586;
  cursor: pointer;
}
.add-user-btn-mv {
  display: none;
}
.lang-btn {
  max-width: 50px;
  // background-color: transparent;
  display: none;
}
.add-user-btn-mv {
  display: none;
}
.register-menu {
  display: none;
}
.lang-btn-mv{
  display: none;
}
.text-bold {
  font-weight: 600;
}
.text-primary {
  color: #531422 !important;
}
// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
  .nav {
    background-color: #f4e3cf;
    padding: 10px;
    width: 100% !important;
    // border: 1px solid red;
    height: 50px!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // margin: 11px 0px 0px 0px;
  }
  .right-logo img{
    // margin: 12px 0px 0px 0px!important;
  }
  .nav .right-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    // border: 1px solid red;
    margin: 0px;
  }
  .nav .right-menu .home-btn {
    display: none;
  }
  .nav .right-menu .login-btn {
    display: none;
  }
  .nav .right-menu .schedule-btn {
    display: none;
  }
  .nav .right-menu .register-btn {
    display: none;
  }
  .nav .right-menu .add-user-btn-mv {
    display: block;
  }
  .left-menu .button-design {
    margin: 0;
  }
  .register-menu {
    display: block;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    // border: 1px solid black;
  }
  .sub-menu {
    top: 40px;
  }
  .lang-btn {
    display: none;
  }
  .add-user-btn-mv {
    display: block;
  }
  .lang-btn-mv{
    display: block!important;
  }
}
