<div class="container">
  <div class="dashboard-container mt-3">
    <div class="login-dashboard-content">
      <div class="dashboard-main-content mt-3">
        <div><span class="display- text-primary">Hello Johan!</span></div>
        <div>
          <img src="../../../../../assets/images/online_calendar_new.png" alt="calendar-image" width="300px" height="auto" />
        </div>
        <div>
          <dfm-button [color]="'primary'" [size]="'lg'" (click)="scheduleUserAppoointment()"> Schedule appointment </dfm-button>
        </div>
        <div class="mt-4"><span class="display-4">Click above to schedule an appointment</span></div>
      </div>
    </div>
  </div>
</div>
