<dfm-sub-header></dfm-sub-header>

<div class="container">
    <div class="dashboard-container mt-3">
        <div class="sidebar-menu bg-primary">
            <div class="sidebar-menu-items">
                <div class="menu-item d-flex">
                    <img src="../../../../../assets/images/home-icon.svg" alt="home-icon">
                    <span class="display-5  active-menu text-decoration-none">Dashboard</span>
                </div>
                <div class="menu-item d-flex" routerLink="/appointment">
                    <img src="../../../../../assets/images/calendar_icon.svg" alt="calendar-icon">
                    <span class="display-5 text-decoration-none">My appointments</span>
                </div>
                <div class="menu-item d-flex float-left" routerLink="/profile">
                    <img src="../../../../../assets/images/user_icon.svg" alt="user-icon">
                    <span class="display-5 text-decoration-none">Profile</span>
                </div>
                <div class="menu-item d-flex">
                    <img src="../../../../../assets/images/logout_icon.svg" alt="logout-icon">
                    <span class="display-5 text-decoration-none">Logout</span>
                </div>
            </div>
        </div>
        <div class="login-dashboard-content">
            <div class="dashboard-main-content mt-3">
                <div><span class="display- text-primary">Hello Johan!</span></div>
                <div>
                    <img src="../../../../../assets/images/online_calendar_new.png" alt="calendar-image" width="300px"
                        height="auto">
                </div>
                <div>
                    <dfm-button [color]="'primary'" [size]="'lg'" (click)="scheduleUserAppoointment()">
                        Schedule appointment
                    </dfm-button>
                </div>
                <div class="mt-4"><span class="display-4">Click above to schedule an appointment</span></div>
            </div>
        </div>
    </div>
</div>