<div class="login-dashboard-content overview-main-container mt-4 bg-white border-r-16" *ngIf="!isAppointemntScheduled">
  <div class="overview-img-container text-center py-2">
    <img src="../../../../../assets/images/online_calendar_new.png" alt="calendar-image" class="object-fit-contain" />
  </div>

  <div class="d-flex justify-content-center text-center py-2">
    <span class="font-weight-semi-bold text-lg check-above-text">{{"YourAppointmentsWillAppearHere" | translate}}</span>
  </div>

  <div class="d-flex justify-content-center py-2">
    <dfm-button [color]="'primary'" [size]="'lg'" [routerLink]="(isLoggedIn$ | async) ? './dashboard' : '/dashboard'" class="sa-btn">
      {{"GoToDashboard" | translate}}
    </dfm-button>
  </div>

  <div class="d-flex justify-content-center py-2">
    <dfm-button [color]="'primary'" [size]="'sm'" [routerLink]="(isLoggedIn$ | async) ? './dashboard' : '/dashboard'" class="sa-btn-mv">
      {{"GoToDashboard" | translate}}
    </dfm-button>
  </div>
</div>

<div class="login-dashboard-content bg-white border-r-16" *ngIf="isAppointemntScheduled">
  <div class="heading-div upcoming-text">{{"UpcomingAppointments" | translate}}</div>
  <div class="upcoming-appointments-section" *ngIf="filteredAppointments$$ | async as upcomingAppointments; else loadingUpcoming">
    <ng-container *ngIf="upcomingAppointments.length; else noUpcoming">
      <div class="upcoming-appointments-details">
        <!-- {{ upcommingAppointments | json }} -->
        <div *ngFor="let item of upcomingAppointments let i = index" class="display-boxes mb-4">
          <div class="top-section-appointment">
            <div class="top-section-one">
              <span>{{ item.exams[0]['startedAt'] | date : 'dd' }}</span>

              <span>{{ monthName(item.exams[0]['startedAt']) | translate }}</span>
            </div>
            <div class="top-section-two">
              <div class="d-flex align-items-center gap-2">
                <p class="d-inline-block" style="width: 20px; height: 20px;"><dfm-icon name="calendar-check-01"></dfm-icon></p>
                <span class="appointmentno-mv">{{"AppointmentNumber" | translate}} : {{ item.id }}</span>
              </div>
              <div class="d-flex align-items-center">
                <p class="d-inline-block" style="width: 20px; height: 20px;"><dfm-icon name="clock"></dfm-icon></p>
                <span [ngClass]="{'pending-status-text': (item.statusText === 'Pending') , 'completed-status-text': (item.statusText === 'Approved'), 'cancelled-status-text': (item.statusText === 'Cancelled')}"><span class="status-text-color">{{"AppointmentStatus" | translate}} :</span> <span class="status-text-color-mv">{{"Status" | translate}} :</span> &nbsp;{{ item.statusText | translate }}</span>
              </div>
            </div>
          </div>

          <div class="flex-item-row">
            <div *ngFor="let exam of item.exams" class="exam-section">
              <div class="mb-3">
                <span class="appointment-exam-text mb-1">{{"Exam" | translate}} : {{ exam.name }} </span>
              </div>

              <div class="mb-3">
                <span style="width: 20px; height: 20px">{{"Time" | translate}} : {{ exam.startedAt | date : 'HH:mm' }} - {{ exam.endedAt | date : 'HH:mm' }}</span>
              </div>

              <div class="appointment-exam-text-mv mb-3">
                <span class="appointment-exam-text-mv text-primary">{{"Exam" | translate}} : {{ exam.exam }} </span>
              </div>
              <div class="instructions-text-section-mv mb-3">
                <span class="instruction-text text-primary ellipse-class">{{"Instructions" | translate}} : {{ exam.info }}</span>
              </div>

              <div class="mb-3">
                <span style="font-weight: 600" class="ellipse-class">{{"Instructions" | translate}} : {{ exam.info }}</span>
              </div>
            </div>
          </div>
          <div class="lab-confirmation-status">
            <div class="status-btn d-flex flex-row justify-content-start align-items-start">
              <dfm-button [color]="'secondary'" [size]="'lg'" class="edit-btn" (click)="editAppointment(item)" [disabled]="item.statusText === 'Cancelled'"> {{"Edit" | translate}} </dfm-button>
              <dfm-button [color]="'primary'" [size]="'lg'" class="cancel-btn mx-3" (click)="cancelAppointment(item.id)" [disabled]="item.statusText === 'Cancelled'"> {{"Cancel" | translate}} </dfm-button>
              <dfm-button [color]="'secondary'" [size]="'sm'" class="edit-btn-mv" (click)="editAppointment(item)" [disabled]="item.statusText === 'Cancelled'"> {{"Edit" | translate}} </dfm-button>
              <dfm-button [color]="'primary'" [size]="'sm'" class="cancel-btn-mv mx-3" (click)="cancelAppointment(item.id)" [disabled]="item.statusText === 'Cancelled'"> {{"Cancel" | translate}} </dfm-button>
            </div>
          </div>
          <hr *ngIf="i < upcomingAppointments.length - 1">
        </div>
      </div>
    </ng-container>
    <ng-template #noUpcoming>
      <span class="no-appointment-text">{{"NoUpcomingAppointmentsFound" | translate}}</span>
    </ng-template>
  </div>
  <ng-template #loadingUpcoming>
    <div class="d-flex justify-content-center flex-1">
      <mat-spinner diameter="48"></mat-spinner>
    </div>
  </ng-template>
</div>
<div class="previous-appointment-container bg-white border-r-16" *ngIf="isAppointemntScheduled">
  <div class="previous-appointment-title">
    <div class="heading-div previous-app-text">{{"AllAppointments" | translate}}</div>

    <!-- <a href="#" class="white-button text-primary display-5 view-all-btn"> View all</a> -->
    <div *ngIf="filteredCompletedAppointments$$ | async as completedAppointments; else loadingCompleted">
      <dfm-button [color]="'link'" [size]="'sm'" class="view-all-btn" *ngIf="completedAppointments.length > 3" (click)="viewAll = !viewAll"
        >{{ viewAll ? ('Hide' | translate) : ('ViewAll' | translate) }}
      </dfm-button>
    </div>

    <ng-template #loadingCompleted>
      <div class="d-flex justify-content-center flex-1 loader-mv 
      ">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </ng-template>
  </div>
  <div
    class="previous-appointment-cards d-flex flex-wrap justify-content-center mt-3"
    *ngIf="filteredCompletedAppointments$$ | async as completedAppointments"
  >
    <ng-container *ngIf="completedAppointments?.length; else noCompleted">
      <div class="upcoming-appointments-details">
        <div *ngFor="let item of completedAppointments; let i = index" class="display-boxes mb-4">
          <div *ngIf="i < 4">
            <div class="top-section-appointment">
              <div class="top-section-one">
                <span>{{ item.exams[0]['startedAt'] | date : 'dd' }}</span>
                <span>{{ monthName(item.exams[0]['startedAt']) }}</span>
              </div>
              <div class="top-section-two">
                <div class="d-flex align-items-center gap-2">
                  <p class="d-inline-block" style="width: 20px; height: 20px;"><dfm-icon name="calendar-check-01"></dfm-icon></p>
                  <span>{{"AppointmentNumber" | translate}} : {{ item.id }}</span>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <p class="d-inline-block" style="width: 20px; height: 20px;"><dfm-icon name="clock"></dfm-icon></p>
                  <span [ngClass]="{'pending-status-text': (item.statusText === 'Pending') , 'completed-status-text': (item.statusText === 'Approved'), 'cancelled-status-text': (item.statusText === 'Cancelled')}"><span class="status-text-color">{{"AppointmentStatus" | translate}} :</span> <span class="status-text-color-mv">{{"Status" | translate}} :</span> &nbsp;{{ item.statusText | translate }}</span>
                </div>
              </div>
            </div>

            <div class="flex-item-row">
              <div *ngFor="let exam of item.exams" class="exam-section">
                <div class="mb-3">
                  <span class="appointment-exam-text mb-3">{{"Exam" | translate}} : {{ exam.name }} </span>
                </div>

                <div class="mb-3">
                  <span style="width: 20px; height: 20px">{{"Time" | translate}} : {{ exam.startedAt | date : 'HH:mm' }} - {{ exam.endedAt | date : 'HH:mm' }}</span>
                </div>

                <div class="appointment-exam-text-mv mb-3">
                  <span class="appointment-exam-text-mv text-primary">{{"Exam" | translate}} : {{ exam.exam }} </span>
                </div>
                <div class="instructions-text-section-mv mb-3">
                  <span class="instruction-text text-primary ellipse-class">{{"Instructions" | translate}} : {{ exam.info }}</span>
                </div>

                <div class="mb-3">
                  <span style="font-weight: 600" class="ellipse-class">{{"Instructions" | translate}} : {{ exam.info }}</span>
                </div>
                <!-- <div class="lab-confirmation-status">
                  <div class="status-btn d-flex flex-row justify-content-start align-items-start">
                    <dfm-button [color]="'secondary'" [size]="'lg'" class="edit-btn"> Edit </dfm-button>
                    <dfm-button [color]="'primary'" [size]="'lg'" class="cancel-btn mx-3"> Cancel </dfm-button>
                    <dfm-button [color]="'secondary'" [size]="'sm'" class="edit-btn-mv"> Edit </dfm-button>
                    <dfm-button [color]="'primary'" [size]="'sm'" class="cancel-btn-mv mx-3"> Cancel </dfm-button>
                  </div>
                </div> -->
              </div>
            </div>
            <hr>
          </div>
          <div *ngIf="viewAll && i > 3">
            <div class="top-section-appointment">
              <div class="top-section-one">
                <span>{{ item.exams[0]['startedAt'] | date : 'dd' }}</span>
                <br />
                <span>{{ monthName(item.exams[0]['startedAt']) }}</span>
              </div>
              <div class="top-section-two">
                <div class="d-flex align-items-center gap-2">
                  <p class="d-inline-block" style="width: 20px; height: 20px;"><dfm-icon name="calendar-check-01"></dfm-icon></p>
                  <span class="appointmentno-text">{{"AppointmentNumber" | translate}} : {{ item.id }}</span>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <p class="d-inline-block" style="width: 20px; height: 20px;"><dfm-icon name="clock"></dfm-icon></p>
                  <!-- <span [ngClass]="{'pending-status-text': (item.statusText === 'Pending') , 'completed-status-text': (item.statusText === 'Approved'), 'cancelled-status-text': (item.statusText === 'Cancelled')}">{{ item.statusText | translate }}</span> -->
                  <span [ngClass]="{'pending-status-text': (item.statusText === 'Pending') , 'completed-status-text': (item.statusText === 'Approved'), 'cancelled-status-text': (item.statusText === 'Cancelled')}"><span class="status-text-color">{{"AppointmentStatus" | translate}} :</span> <span class="status-text-color-mv">{{"Status" | translate}} :</span> &nbsp;{{ item.statusText | translate }}</span>
                </div>
              </div>
            </div>

            <div class="flex-item-row">
              <div *ngFor="let exam of item.exams" class="exam-section">
                <div class="mb-3">
                  <span class="appointment-exam-text mb-1">{{"Exam" | translate}} : {{ exam.name }} </span>
                </div>

                <div class="mb-3">
                  <span style="width: 20px; height: 20px">{{"Time" | translate}} : {{ exam.startedAt | date : 'HH:mm' }} - {{ exam.endedAt | date : 'HH:mm' }}</span>
                </div>

                <div class="appointment-exam-text-mv mb-3">
                  <span class="appointment-exam-text-mv text-primary">{{"Exam" | translate}} : {{ exam.exam }} </span>
                </div>
                <div class="instructions-text-section-mv mb-3">
                  <span class="instruction-text text-primary ellipse-class">{{"Instructions" | translate}} : {{ exam.info }}</span>
                </div>

                <div class="mb-3">
                  <span style="font-weight: 600" class="ellipse-class">{{"Instructions" | translate}} : {{ exam.info }}</span>
                </div>
                <!-- <div class="lab-confirmation-status">
                  <div class="status-btn d-flex flex-row justify-content-start align-items-start">
                    <dfm-button [color]="'secondary'" [size]="'lg'" class="edit-btn"> Edit </dfm-button>
                    <dfm-button [color]="'primary'" [size]="'lg'" class="cancel-btn mx-3"> Cancel </dfm-button>
                    <dfm-button [color]="'secondary'" [size]="'sm'" class="edit-btn-mv"> Edit </dfm-button>
                    <dfm-button [color]="'primary'" [size]="'sm'" class="cancel-btn-mv mx-3"> Cancel </dfm-button>
                  </div>
                </div> -->
              </div>
            </div>
            <hr *ngIf="i < completedAppointments.length - 1">
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noCompleted>
      <span class="no-appointment-text">{{"NoPreviousAppointmentsFound" | translate}}</span>
    </ng-template>

    <!--
      <div class="card-item" >
        <div class="display-5 previous-appointments-date-time">
          <div class="d-flex flex-row justify-content-between gap-2"><div style="width: 20px; height: 20px"><dfm-icon name="calendar-check-01"></dfm-icon></div><span>{{completedAppointments[2].startedAt | date:"dd, MMMM, yyyy"}}</span></div>
          <div class="d-flex flex-row justify-content-between gap-2"><div style="width: 20px; height: 20px"><dfm-icon name="clock"></dfm-icon></div>
          <span>{{completedAppointments[2].startedAt | date: 'HH:mm'}}</span></div>
        </div>
        <span class="display-5">Exam: {{completedAppointments[2].exam}}</span>
        <span class="display-5">Status: <span class="text-success">Completed</span>
        <hr class="bg-lite-gray appointment-hr-mv" />
      </span>
      </div> -->
    <!-- <div class="card-item">
        <div class="display-5 previous-appointments-date-time">
          <div class="d-flex flex-row justify-content-between gap-2"><div style="width: 20px; height: 20px"><dfm-icon name="calendar-check-01"></dfm-icon></div><span>12 November,2022</span></div>
          <div class="d-flex flex-row justify-content-between gap-2"><div style="width: 20px; height: 20px"><dfm-icon name="clock"></dfm-icon></div>
          <span>12:30</span></div>
        </div>
        <div class="d-flex flex-row justify-content-between gap-2">
          <div style="width: 20px; height: 20px"><dfm-icon name="clock"></dfm-icon></div>
          <span>12:30</span>
        </div>
      </div>
      <span class="display-5">Exam: Levering Stuenzolean</span>
      <span class="display-5"
        >Status: <span class="text-success">Completed</span>
        <hr class="bg-lite-gray appointment-hr-mv" />
      </span>
    </div>
  </div>
  <div class="previous-appointment-cards d-flex justify-content-center mt-3" *ngIf="viewAll">
    <div class="card-item">
      <div class="display-5 previous-appointments-date-time">
        <div class="d-flex flex-row justify-content-between gap-2">
          <div style="width: 20px; height: 20px"><dfm-icon name="calendar-check-01"></dfm-icon></div>
          <span>12 November,2022</span>
        </div>
        <div class="d-flex flex-row justify-content-between gap-2">
          <div style="width: 20px; height: 20px"><dfm-icon name="clock"></dfm-icon></div>
          <span>12:30</span>
        </div>
      </div>
      <span class="display-5">Exam: Levering Stuenzolean</span>
      <span class="display-5"
        >Status: <span class="text-success">Completed</span>
        <hr class="bg-lite-gray appointment-hr-mv" />
      </span>
    </div>
    <div class="card-item">
      <div class="display-5 previous-appointments-date-time">
        <div class="d-flex flex-row justify-content-between gap-2">
          <div style="width: 20px; height: 20px"><dfm-icon name="calendar-check-01"></dfm-icon></div>
          <span>12 November,2022</span>
        </div>
        <div class="d-flex flex-row justify-content-between gap-2">
          <div style="width: 20px; height: 20px"><dfm-icon name="clock"></dfm-icon></div>
          <span>12:30</span>
        </div>
      </div>
      <span class="display-5">Exam: Levering Stuenzolean</span>
      <span class="display-5"
        >Status: <span class="text-success">Completed</span>
        <hr class="bg-lite-gray appointment-hr-mv" />
      </span>
      </div> -->
  </div>

  <!-- <div class="previous-appointment-cards container d-flex justify-content-center mt-3" *ngIf="viewAll">
      <div class="card-item">
        <div class="display-5 previous-appointments-date-time">
          <div style="width: 20px; height: 20px"><dfm-icon name="calendar-check-01"></dfm-icon></div><span>12 November,2022</span>
          <div style="width: 20px; height: 20px"><dfm-icon name="clock"></dfm-icon></div>
          <span>12:30</span>
        </div>
        <span class="display-5">Exam: Levering Stuenzolean</span>
        <span class="display-5">Status: <span class="text-success">Completed</span></span>
      </div>
      <div class="card-item">
        <div class="display-5 previous-appointments-date-time">
          <div style="width: 20px; height: 20px"><dfm-icon name="calendar-check-01"></dfm-icon></div><span>12 November,2022</span>
          <div style="width: 20px; height: 20px"><dfm-icon name="clock"></dfm-icon></div>
          <span>12:30</span>
        </div>
        <span class="display-5">Exam: Levering Stuenzolean</span>
        <span class="display-5">Status: <span class="text-success">Completed</span></span>
      </div>
      <div class="card-item">
        <div class="display-5 previous-appointments-date-time">
          <div style="width: 20px; height: 20px"><dfm-icon name="calendar-check-01"></dfm-icon></div><span>12 November,2022</span>
          <div style="width: 20px; height: 20px"><dfm-icon name="clock"></dfm-icon></div>
          <span>12:30</span>
        </div>
        <span class="display-5">Exam: Levering Stuenzolean</span>
        <span class="display-5">Status: <span class="text-success">Completed</span></span>
      </div>
    </div> -->
</div>

