*{
    font-family: 'Montserrat';
}
.login-dashboard-content {
    // width: 100%;
    margin: 0px 50px;
    padding:20px;
}

.upcoming-appointments-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // border: 1px solid red;
}


.display-3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.display-4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.display-5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.upcoming-appointments-details {
    // border-radius: 8px;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // padding: 20px 30px;
    gap: 20px;
    // border: 1px solid red;
    font-weight: 600;
    width: 100%;
}

.upcoming-appointments-date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-weight: 600;
}
.instruction-details{
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.lab-confirmation-status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: space-between;
    gap: 15px;
  }
  .pending-status {
    padding: 10px 15px 10px 15px;
    color: #fff;
    border-radius: 8px;
  }

.sidebar-menu {
    width: 20%;
    max-height: 198px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.bg-primary {
    background-color: #531422 !important;
}


.text-secondary{
    color: #F4E3CF;
}

.text-primary {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
  
    color:var(--dfm-primary) !important;
  }

.sidebar-menu-items {
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* gap: 10px; */
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    color: #F4E3CF;
    padding: 10px;
}


.active-menu {
    background-color: #F4E3CF;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
    border: none;
    color: #531422;
    width: 100%;
    text-align: left;
    font-weight: 600;
}


.previous-appointment-title {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    // position: relative;
}


.white-button {
    background-color: transparent;
    padding: 5px;
    border-radius: 8px;
    color: #531422;
    cursor: pointer;
    border: none;
    transition: .2s all ease;
    text-decoration: underline;
}
.previous-appointment-container{
    // border: 1px solid red;
    padding: 20px;
    margin: 0px 50px;
}
.previous-appointment-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
    align-items: center;
    gap: 20px;
}

.card-item {
    padding: 20px 40px;
    // box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--dfm-body-bg);
    border: 1px solid lightgrey;
}

.previous-appointments-date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.view-all-btn {
    // position: absolute;
    // top: 0;
    // margin-left: 803px;
    text-decoration: underline;
    text-decoration-color: var(--dfm-primary);
}

.bg-lite-gray {
    width: 600px;
    border: none;
    min-width: 50px;
    border: 2px solid #b0b3b7;
}
.appointment-hr-mv{
    display: none;
}
.appointment-exam-text{
    display: block!important;
    font-weight: 600;
}
.appointment-exam-text-mv{
    display: none!important;
}
.instructions-text-section-mv{
    display: none!important;
}
.upcoming-text{
    font-weight: 600;
}
.appointment-status{
    padding: 10px 0px;
    max-width: 100%;
    color: black;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid red;
    gap: 8px;
    }
    .status-text{
      padding: 5px;
      border-radius: 8px;
    }
    .confirmation-message{
      font-size: 13px;
    }
    .edit-btn-mv{
        display: none;
    }
    .cancel-btn-mv{
        display: none;
    }
// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
    .login-dashboard-content {
        margin: 0px 15px;
    }
    .previous-appointment-container{
        margin: 0px 15px;
    }
    .upcoming-appointments-section{
    width: 100%;
    // border: 1px solid black;
}
.upcoming-appointments-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.upcoming-text{
    font-size: 17px!important;
    // text-align: left;
    font-weight: 600;
    margin: 0px 0px 0px 0px!important;
}
.upcoming-appointments-details{
    // border: 1px solid red;
    width: 100%!important;
    padding: 15px!important;
    gap: 5px!important;
}
.upcoming-appointments-date-time{
    // border: 1px solid red;
    width: 100%!important;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    gap: 15px;
}
.upcoming-appointments-btn{
    display: none!important;
}
.appointment-hr{
    display: none!important;
}
.appointment-hr-mv{
    width: 100%;
    // margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
    display: block!important;
    padding: 0px!important;
    margin: 5px 0px 0px 0px!important;
}
.appointment-exam-text{
    font-size: 14px!important;
}
.appointment-exam-text-mv{
    display: block!important;
    font-size: 14px;
    padding: 0px!important;
    margin: 0px!important;
    // border: 1px solid red;
    width: 100%!important;
}
.appointment-exam-text{
    display: none!important;
}
.instructions-text-section-mv{
    display: block!important;
}
.instruction-desk-view{
    display: none!important;
}
.instructions-text-section-mv ul li{
    font-size: 14px!important;
    line-height: 22px;
    font-weight: 500;
}
.instruction-text{
    font-size: 16px;
}
.previous-app-text{
    display: block!important;
    margin: 16px 0px 0px 0px;
    // color:var(--dfm-primary);
    // border: 1px solid red;
    font-weight: 600;
    font-size: 17px!important;
    
}
.previous-appointment-cards{
    display: flex!important;
    flex-direction: column!important;
    width: 100%!important;
    // border: 1px solid red;
    border-radius: 8px;
    background-color: #fff;
    gap: 8px!important;
}
.view-all-btn{
    display: none!important;
}
.previous-appointments-date-time{
    font-size: 13px!important;
    gap: 33px!important;
    justify-content: flex-start;
    // border: 1px solid red;
}
.previous-appointment-title {
    display: flex!important;
    flex-direction: row!important;
    justify-content: start!important;
    align-items: flex-start!important;
    // position: relative;
}
.card-item{
    gap: 8px!important;
    padding: 10px 20px!important;
    // height: 100px!important;
    width: 100%!important;
    // border: 1px solid red;
    box-shadow: none!important;
}
.edit-btn-mv{
    display: block!important;
}
.cancel-btn-mv{
    display: block!important;
}
.edit-btn{
    display: none!important;
}
.cancel-btn{
    display:none!important;
}
.instruction-details{
    display: none;
}

}
@media (min-width: 320px) and (max-width: 374px){
    .upcoming-appointments-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .upcoming-text{
        font-size: 15px!important;
        // color: #531422;
        // text-align: left;
        font-weight: 600;
        margin: 16px 0px 0px 0px!important;
    }
    .upcoming-appointments-details{
        // border: 1px solid red;
        width: 100%!important;
        padding: 0px 20px!important;
        gap: 5px!important;
    }
    .upcoming-appointments-date-time{
        // border: 1px solid red;
        width: 100%!important;
    }
    .upcoming-appointments-btn{
        display: none!important;
    }
    .appointment-hr{
        display: none!important;
    }
    .appointment-hr-mv{
        width: 100%;
        color: inherit;
        opacity: 0.25;
        display: block!important;
    }
    .appointment-exam-text{
        font-size: 14px!important;
    }
    .appointment-exam-text-mv{
        display: block!important;
        font-size: 13px;
        padding: 0px!important;
        margin: 0px!important;
        // border: 1px solid red;
        width: 100%!important;
    }
    .appointment-exam-text{
        display: none!important;
    }
    .instructions-text-section-mv{
        display: block!important;
    }
    .instruction-desk-view{
        display: none!important;
    }
    .instructions-text-section-mv ul li{
        font-size: 14px!important;
        line-height: 22px;
        font-weight: 500;
    }
    .instruction-text{
        font-size: 16px;
    }
    .previous-app-text{
        display: block!important;
        margin: 20px 0px 0px 0px;
        // border: 1px solid red;
    }
    .previous-appointment-cards{
        display: flex!important;
        flex-direction: column!important;
    }
    .view-all-btn{
        display: none!important;
    }
    .previous-appointments-date-time{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5px!important;
        font-size: 12px!important;
    }
    .upcoming-appointments-date-time{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5px;
    }
    .time-span{
        width: 100px;
    }
    .status-btn{
        margin: 0px 0px 10px 0px;
    }
   
    }


