*{
    font-family: 'Montserrat';
}
.login-dashboard-content {
    // width: 100%;
    border-radius: 8px;
    // border: 1px solid red;
}

.upcoming-appointments-section {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
}


.display-3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.display-4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.display-5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.upcoming-appointments-details {
    padding: 5px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    gap: 20px;
}

.upcoming-appointments-date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}


.sidebar-menu {
    width: 20%;
    max-height: 198px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.bg-primary {
    background-color: #531422 !important;
}


.text-secondary{
    color: #F4E3CF;
}

.text-primary {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
  
    color: #531422 !important;
  }

.sidebar-menu-items {
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* gap: 10px; */
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    color: #F4E3CF;
    padding: 10px;
}


.active-menu {
    background-color: #F4E3CF;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
    border: none;
    color: #531422;
    width: 100%;
    text-align: left;
    font-weight: 600;
}


.previous-appointment-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}


.white-button {
    background-color: transparent;
    padding: 5px;
    border-radius: 8px;
    color: #531422;
    cursor: pointer;
    border: none;
    transition: .2s all ease;
    text-decoration: underline;
}


.previous-appointment-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card-item {
    padding: 20px;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.previous-appointments-date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.view-all-btn {
    position: absolute;
    top: 0;
    margin-left: 803px;
}

.bg-lite-gray {
    width: 600px;
    border: none;
    min-width: 50px;
    border: 2px solid #b0b3b7;
}
.appointment-hr-mv{
    display: none;
}
.appointment-exam-text{
    display: block!important;
}
.appointment-exam-text-mv{
    display: none!important;
}
.instructions-text-section-mv{
    display: none!important;
}
// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
.upcoming-appointments-section{
    width: 100%;
    // border: 1px solid black;
}
.upcoming-appointments-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.upcoming-text{
    font-size: 16px!important;
    color: #531422;
    text-align: left;
    font-weight: 600;
    margin: 0px!important;
}
.upcoming-appointments-details{
    // border: 1px solid red;
    width: 100%!important;
    padding: 10px!important;
    gap: 5px!important;
}
.upcoming-appointments-date-time{
    // border: 1px solid red;
    width: 100%!important;
}
.upcoming-appointments-btn{
    display: none!important;
}
.appointment-hr{
    display: none!important;
}
.appointment-hr-mv{
    width: 100%;
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
    display: block!important;
}
.appointment-exam-text{
    font-size: 14px!important;
}
.appointment-exam-text-mv{
    display: block!important;
    font-size: 14px;
    padding: 0px!important;
    margin: 0px!important;
    // border: 1px solid red;
    width: 100%!important;
}
.appointment-exam-text{
    display: none!important;
}
.instructions-text-section-mv{
    display: block!important;
}
.instruction-desk-view{
    display: none!important;
}
.instructions-text-section-mv ul li{
    font-size: 14px!important;
    line-height: 22px;
    font-weight: 500;
}
.instruction-text{
    font-size: 16px;
}
.previous-app-text{
    display: block!important;
    margin: 10px 0px 0px 0px;
    color: #531422;
    // border: 1px solid red;
    font-weight: 600;
    
}
.previous-appointment-cards{
    display: flex!important;
    flex-direction: column!important;
}
.view-all-btn{
    display: none!important;
}
.previous-appointments-date-time{
    font-size: 13px!important;
}
.previous-appointment-title {
    display: flex!important;
    flex-direction: row!important;
    justify-content: start!important;
    align-items: flex-start!important;
    // position: relative;
}
.card-item{
    gap: 8px!important;
    padding: 10px!important;
    height: 100px!important;
}

}
@media (min-width: 320px) and (max-width: 374px){
    .upcoming-appointments-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .upcoming-text{
        font-size: 16px!important;
        color: #531422;
        text-align: left;
        font-weight: 600;
        margin: 0px!important;
    }
    .upcoming-appointments-details{
        // border: 1px solid red;
        width: 100%!important;
        padding: 10px!important;
        gap: 5px!important;
    }
    .upcoming-appointments-date-time{
        // border: 1px solid red;
        width: 100%!important;
    }
    .upcoming-appointments-btn{
        display: none!important;
    }
    .appointment-hr{
        display: none!important;
    }
    .appointment-hr-mv{
        width: 100%;
        margin: 1rem 0;
        color: inherit;
        border: 0;
        border-top: 1px solid;
        opacity: 0.25;
        display: block!important;
    }
    .appointment-exam-text{
        font-size: 14px!important;
    }
    .appointment-exam-text-mv{
        display: block!important;
        font-size: 13px;
        padding: 0px!important;
        margin: 0px!important;
        // border: 1px solid red;
        width: 100%!important;
    }
    .appointment-exam-text{
        display: none!important;
    }
    .instructions-text-section-mv{
        display: block!important;
    }
    .instruction-desk-view{
        display: none!important;
    }
    .instructions-text-section-mv ul li{
        font-size: 14px!important;
        line-height: 22px;
        font-weight: 500;
    }
    .instruction-text{
        font-size: 16px;
    }
    .previous-app-text{
        display: block!important;
    }
    .previous-appointment-cards{
        display: flex!important;
        flex-direction: column!important;
    }
    .view-all-btn{
        display: none!important;
    }
    .previous-appointments-date-time{
        font-size: 13px!important;
    }
    }


