<div
  class="exam-form-main-container d-flex flex-column justify-content-center align-items-center main-exam-container dfm-gap-24 dfm-p-16 border-r-16"
>
  <form
    class="exam-form-container dfm-card dfm-gap-16"
  >
    <h5 class="align-center">Referral Physician</h5>
  </form>

  <dfm-button color="primary" size="lg" (click)="saveReferralPhysicianDetail()" class="exam-next-btn">
    {{ 'Next' | translate }}
  </dfm-button>

  <dfm-button color="primary" size="sm" (click)="saveReferralPhysicianDetail()" class="exam-next-btn-mv" >
    {{ 'Next' | translate }}
  </dfm-button>
</div>
