<div
  class="exam-form-main-container d-flex flex-column justify-content-center align-items-center main-exam-container dfm-gap-24 dfm-p-16 border-r-16"
>
  <form [formGroup]="examForm" class="exam-form-container dfm-card d-flex dfm-gap-16">
    <ng-container *ngIf="loaderSvc.isSpinnerActive$ | async; else loaded">
      <div class="d-flex justify-content-center align-items-center w-full flex-1">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </ng-container>
    <ng-template #loaded>
      <section class="d-flex flex-column dfm-gap-24 flex-1">
        <ng-container *ngIf="filteredPhysicians$$ | async as physician">
          <ng-container *ngIf="siteDetails$$ | async as physicianEnale">
            <dfm-input-dropdown
              *ngIf="+physicianEnale?.doctorReferringConsent === 0"
              [items]="physician"
              label="{{ 'ReferringPhysician' | translate }} {{ +physicianEnale?.doctorReferringConsent === 0 ? '*' : '' }}"
              placeholder="{{ 'EnterPhysicianName' | translate }}"
              formControlName="physician"
              [required]="+physicianEnale?.doctorReferringConsent === 0"
              [showDescription]="false"
              size="md"
              class="input-w-300"
            >
              {{ physician }}
            </dfm-input-dropdown>
            <span class="validation-error" *ngIf="examForm.controls['physician'].hasError('required') && examForm.controls['physician'].touched">
              {{ 'RequiredField' | translate }}
            </span>
            <span class="upload-text">Upload Referring Note <small>(pdf, jpg, jpeg, png)</small></span>
            <div class="upload-main-container">
              <div class="upload-container">
                <div class="upload-section d-flex flex-column align-items-center">
                  <input type="file" (change)="uploadRefferingNote($event)" #fileUpload style="display: none;">
                 <div class="upload-button" (click)="fileUpload.click()">
                  <img src="../../../../../assets/images/upload-icon.png" alt="" width="40px">
                </div>
                <p class="upload-text">Upload Document</p>
                <p class="file-name" [style.color]="(documentUploadProcess | async)?.includes('Failed')? 'red': ''" >{{documentUploadProcess | async}}</p>

                </div>
                 <div class="or-btn"><span>OR</span></div>
                 <div class="upload-section d-flex flex-column align-items-center mobile-upload-mv">
                 <div class="upload-button" (click)="uploadDocumentFromMobile()">
                  <img src="../../../../../assets/images/phone-scan.png" alt="" width="40px">
                 </div>
                <p class="upload-text">Upload Document <br>From Mobile Device</p>
                <p class="file-name">{{signalrFileName}}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </section>
    </ng-template>
  </form>

  <dfm-button color="primary" size="lg" (click)="saveExamDetails()" class="exam-next-btn">
    {{ 'Next' | translate }}
  </dfm-button>

  <dfm-button color="primary" size="sm" (click)="saveExamDetails()" class="exam-next-btn-mv">
    {{ 'Next' | translate }}
  </dfm-button>
</div>
