registry=https://pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/:username=diflexmo
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/:_password=aHBmNGxrdDJmZnZxemlndjJkc3lteGQ1aG5xZXF0aG51dmJzbW1hZ3p5azVyaGRsMm1hYQ==
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/:username=diflexmo
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/:_password=aHBmNGxrdDJmZnZxemlndjJkc3lteGQ1aG5xZXF0aG51dmJzbW1hZ3p5azVyaGRsMm1hYQ==
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
