registry=https://pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/:username=diflexmo
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/:_password=bWxuMzVpYmkyanpnZGZoN2VjYWlhM3RreXlmdjQ3am1raTNsN2R1Mnkya2xsenh3bXY0YQ==
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/:username=diflexmo
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/:_password=bWxuMzVpYmkyanpnZGZoN2VjYWlhM3RreXlmdjQ3am1raTNsN2R1Mnkya2xsenh3bXY0YQ==
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
