registry=https://pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/:username=diflexmo
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/:_password=Y243aWpmN243amtrdGpicTZ2aXVqcGY0dmFwaHEyZm5paWc3amptZWxka3d3b2Vxc2Z1YQ==
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/:username=diflexmo
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/:_password=Y243aWpmN243amtrdGpicTZ2aXVqcGY0dmFwaHEyZm5paWc3amptZWxka3d3b2Vxc2Z1YQ==
//pkgs.dev.azure.com/diflexmo/_packaging/Diflexmo_Shared/npm/:email=npm requires email to be set but doesn't use the value
; end auth token