<div class="d-flex flex-column justify-content-center align-items-center dfm-gap-16 reset-password-container">
  <section class="d-flex flex-column dfm-gap-8">
    <h2 class="font-weight-semi-bold text-center">Reset <br>Password</h2>
    <div class="d-flex justify-content-center align-items-center">
      <span class="font-weight-medium text-nowrap">Remember password?</span>&nbsp;
      <div class="underline-primary">
        <dfm-button [color]="'link'" [size]="'lg'" routerLink="../login">Login</dfm-button>
      </div>
    </div>
  </section>

  <section class="dfm-mt-32">
    <span class="font-weight-medium">Please enter your registered email <br> address.</span>
  </section>

  <section class="d-flex flex-column dfm-gap-16 align-items-end w-100">
    <div class="w-100">
      <dfm-input [formControl]="forgotPasswordControl" size="md"  label="Email*" placeholder="Enter Email"icon="mail-05"></dfm-input>
    </div>

    <dfm-button color="primary" size="lg">Submit</dfm-button>
  </section>
</div>
