<!-- <dfm-sub-header></dfm-sub-header> -->
<div class="container">
    <div class="basic-details-progress-bar d-flex justify-content-center align-items-center">
      <div>
        <button class="progress-button bg-success text-white exam-btn">Select Exam</button>
        <button class="progress-button bg-success text-white exam-btn-mv">Exam</button>
      </div>
      <div>
        <hr class="progress-bar-hr bg-success" />
      </div>
      <div>
        <button class="progress-button bg-primary text-white time-slot-btn">Select Time Slot</button>
        <button class="progress-button bg-primary text-white time-slot-btn-mv">Slot</button>
      </div>
      <div>
        <hr class="progress-bar-hr bg-primary" />
      </div>
      <div>
        <button class="progress-button">Confirm</button>
      </div>
    </div>
  </div>
  
  <div class="container mt-3 d-flex flex-column justify-content-center align-items-center">
    <div class="bg-white d-flex flex-column justify-content-between align-items-center calendar-main-container shadow-sm">
      <div class="calendar shadow-sm">
        <div class="month">
          <a (click)="getPreviousMonth()" class="nav">
            <strong> < </strong>
          </a>
          <div class="month-display">
            {{ displayMonth }} <span class="year">{{ currentYear }}</span>
          </div>
          <a (click)="getNextMonth()" class="nav"> > </a>
        </div>
        <div class="days">
          <span *ngFor="let day of days">{{ day }}</span>
        </div>
        <div class="dates">
          <ng-container *ngFor="let dayCount of totalDays; let index = index">
            <button
              class="calendar-btn-mv"
              [style.grid-column]="index == 0 ? dayStartCount + 1 : 0"
              (click)="showTimeSlot(dayCount)"
              [ngClass]="
                dayCount === 9
                  ? 'set-holiday'
                  : isTimeSlotAvailable &&
                    selectedDate == dayCount &&
                    dayCount !== 1 &&
                    dayCount !== 8 &&
                    dayCount !== 15 &&
                    dayCount !== 22 &&
                    dayCount !== 29 &&
                    dayCount !== 3 &&
                    dayCount !== 10 &&
                    dayCount !== 17 &&
                    dayCount !== 24 &&
                    dayCount !== 31
                  ? 'set-clicked'
                  : dayCount === 1 ||
                    dayCount === 8 ||
                    dayCount === 15 ||
                    dayCount === 22 ||
                    dayCount === 29 ||
                    dayCount === 3 ||
                    dayCount === 10 ||
                    dayCount === 17 ||
                    dayCount === 24 ||
                    dayCount === 31
                  ? 'disabled-date'
                  : ''
              "
            >
              <time>{{ dayCount }}</time>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="calendar-footer-section w-100 d-flex flex-column justify-content-between">
        <div class="notation-container d-flex mt-4">
          <div class="logo"></div>
          &nbsp;
          <div class="notation-text">Public holiday</div>
  
          <div class="logo-selected"></div>
          &nbsp;
          <div class="notation-text">Selected</div>
        </div>
        <div class="time-slot-container bg-white d-flex flex-column mt-5" *ngIf="isTimeSlotAvailable">
          <div class="time-slot d-flex flex-column gap-3">
            <div class="text-center"><span class="slot-heading"> Choose a time slot</span></div>
            <div class="time-slot-mv d-flex flex-column justify-content-between align-items-center gap-3">
              <div class="d-flex flex-row justify-content-between align-items-center gap-3 slot-timing-mv m-0 p-0">
                <span class="p-2" style="width: 100px; text-align: center; font-size: 14px; font-weight: 500;"
                  *ngFor="let slots of timeSlots"
                  (click)="highLightTime(slots)"
                  [ngClass]="setSelectedSlot === slots ? 'time-detail highlight-time' : 'time-detail'"
                >
                  {{ slots }}
                </span>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center gap-3 slot-timing-mv m-0 p-0">
                <span class="p-2" style="width: 100px; text-align: center; font-size: 14  px; font-weight: 500;"
                  *ngFor="let slots of timeSlots1"
                  (click)="highLightTime(slots)"
                  [ngClass]="setSelectedSlot === slots ? 'time-detail highlight-time' : 'time-detail'"
                >
                  {{ slots }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-center mt-4">
    <dfm-button [color]="'secondary'" [size]="'lg'" routerLink="/dashboard/exam" class="back-btn"> Back </dfm-button>
    <dfm-button [color]="'secondary'" [size]="'sm'" routerLink="/dashboard/exam" class="back-btn-mv"> Back </dfm-button>
    <dfm-button [color]="'primary'" [size]="'lg'" [disabled]="(selectedDate === 0 || setSelectedSlot === '')" routerLink="/dashboard/confirm-appointment" class="mx-3 next-btn"> Next </dfm-button>
    <dfm-button [color]="'primary'" [size]="'sm'" [disabled]="(selectedDate === 0 || setSelectedSlot === '')" routerLink="/dashboard/confirm-appointment" class="mx-3 next-btn-mv"> Next </dfm-button>
  </div>
  