*{
    font-family: 'Montserrat';
  }
  .text-primary{
    color: var(--dfm-primary) !important;
}
.privacy-policy-text{
    font-size: 20px;
    font-weight: 600;
}
.privacy-policy-desc{
    font-size: 14px;
    font-weight: 500;
    // border: 1px solid red;
    padding: 0px;
}