<div class="container">
    <div class="main-container mt-4">
      <span class="privacy-policy-text text-primary">{{"PrivacyPolicyAndCookies" | translate}}</span>
      <p class="mt-4" style="font-weight: 500">
        Deze “Privacy Policy” regelt de verwerking van uw persoonsgegevens door de verantwoordelijke voor de verwerking: Diflexmo, met maatschappelijke zetel Koning Boudewijnhof(Win) 27, 2880 Bornem  en ingeschreven in de K.B.O. onder nummer BE0631.799.107
  Lees deze Privacy Policy aandachtig door, want het bevat essentiële informatie over hoe uw persoonsgegevens worden verwerkt en welke cookies worden gebruikt. Door het verstrekken van uw persoonsgegevens op de website en door het op deze website vermelde e-mailadressen verschaffen van Persoonsgegevens, verklaart u kennis te hebben genomen van deze Privacy Policy en gaat u er eveneens uitdrukkelijk mee akkoord, alsook met de verwerking zelf.
      </p>
      <div class="privacy-policy-desc">
        <ul class="d-flex flex-column justify-content-between gap-4">
          <li>
            <span class="font-weight-bold">1) WAARBORGEN PRIVACY </span> <br>
  Het waarborgen van de privacy van bezoekers van diflexmo.be is een belangrijke taak voor ons. Daarom beschrijven we in onze privacy policy welke informatie we verzamelen en hoe we deze informatie gebruiken.
  
          </li>
          <li>
            <span class="font-weight-bold">2) TOESTEMMING </span><br>
  Door de informatie en de diensten op diflexmo.be te gebruiken, gaat u akkoord met onze privacy policy en de voorwaarden die wij hierin hebben opgenomen.
  
          </li>
          <li>
            <span class="font-weight-bold">3) VRAGEN </span> <br>
  Als u meer informatie wilt ontvangen, of vragen hebt over de privacy policy van Diflexmo en specifiek Diflexmo.be, kunt u ons benaderen via e-mail. Ons e-mailadres is <span class="text-primary"> <a href="mailto:info@diflexmo.be">info@diflexmo.be </a></span>
  
          </li>
          <li>
            <span class="font-weight-bold">4) MONITOREN GEDRAG BEZOEKER</span> <br>
  Diflexmo.be  maakt gebruik van verschillende technieken om bij te houden wie de website bezoekt, hoe deze bezoeker zich op de website gedraagt en welke pagina’s worden bezocht. Dat is een gebruikelijke manier van werken voor websites omdat het informatie oplevert die bijdraagt aan de kwaliteit van de gebruikerservaring. De informatie die we, via cookies, registreren, bestaat uit onder meer IP-adressen, het type browser en de bezochte pagina’s. Tevens monitoren we waar bezoekers de website voor het eerst bezoeken en vanaf welke pagina ze vertrekken. Deze informatie houden we anoniem bij en is niet gekoppeld aan andere persoonlijke informatie.
          </li>
          <li>
            <span class="font-weight-bold">5) GEBRUIK VAN COOKIES </span> <br>
  Diflexmo.be plaatst cookies bij bezoekers. Dat doen we om informatie te verzamelen over de pagina’s die gebruikers op onze website bezoeken, om bij te houden hoe vaak bezoekers terug komen en om te zien welke pagina’s het goed doen op de website. Ook houden we bij welke informatie de browser deelt.
          </li>
          <li>
            <span class="font-weight-bold">6) COOKIES UITSCHAKELEN </span> <br>
  U kunt er voor kiezen om cookies uit te schakelen. Dat doet u door gebruik te maken de mogelijkheden van uw browser. U vindt meer informatie over deze mogelijkheden op de website van de aanbieder van uw browser.
          </li>
          <li>
            <span class="font-weight-bold"> 7) COOKIES VAN DERDE PARTIJEN</span> <br>
  Het is mogelijk dat derde partijen, zoals Google, op onze website adverteren of dat wij gebruik maken van een andere dienst. Daarvoor plaatsen deze derde partijen in sommige gevallen cookies. Deze cookies zijn niet door diflexmo.be te beïnvloeden.
  </li>
  <li>
    <span class="font-weight-bold"> Vragen of klachten? </span> <br>
  Indien U een vraag of klacht heeft over onze verwerking van persoonsgegevens, over de uitoefening van Uw rechten of over deze Verklaring, dan kan U contact met ons opnemen via de volgende 
  <br>kanalen: <span class="text-primary"><a href="https://www.diflexmo.be/" target="_blank">https://www.diflexmo.be</a></span>
  </li>
  <li>
  Per e-mail: <span class="text-primary"> <a href="mailto:info@diflexmo.be">info@diflexmo.be </a></span> <br>
  Telefonisch: +32 3 297 28 15
  </li>
  <li>
    Indien U niet tevreden bent met ons antwoord, of indien U opmerkingen heeft omtrent de uitoefening van Uw rechten, of indien U meent dat onze verwerking van Uw persoonsgegevens niet in regel zou zijn met de wetgeving, dan kan U hierover klacht indienen bij de Commissie voor de bescherming van de persoonlijke levenssfeer, beter bekend onder de benaming van Privacycommissie. Alle informatie kan hieromtrent gevonden worden op 
    <span><a href="https://www.privacycommission.be/burger" target="_blank">https://www.privacycommission.be.</a></span>
  </li>
  <li>
    <span class="font-weight-bold"> Hoe om te gaan met aanpassingen aan deze Verklaring? </span><br>
    Deze Verklaring kan door ons worden aangepast of aangevuld indien wij dit nodig achten. We moedigen u aan om periodiek deze Verklaring door te nemen om te weten te komen hoe wij Uw persoonsgegevens verwerken en beschermen.
    </li>
        </ul>
      </div>
    </div>
  </div>
  