.progress-bar-container {
  display: flex;
  list-style: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.progress-bar-item {
  flex: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
}

.progress-bar-marker {
  transition: 200ms all linear;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  color: var(--dfm-primary);
  border: 1px solid var(--dfm-primary);
  cursor: pointer;

  .progress-bar-tick-mark {
    width: 75%;
    height: 75%;
    margin: 4px auto;
  }
}

.progress-bar-text {
  font-size: 0.8rem;
}

.progress-bar-line {
  border-bottom: 1px solid gray;
  width: 24px;
}

.progress-bar-marker-selected {
  background: var(--dfm-primary);
  color: white;
}

.progress-bar-marker-completed {
  background: var(--dfm-green);
  border-color: var(--dfm-green);
  color: white;
}
.progress-bar-container-mv{
  display: none;
}
@media (min-width: 180px) and (max-width: 680px) {
  .mobile-view-progress-bar{
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    // padding: 50px;
  }
  .progress-bar-container-mv{
    // border: 1px solid red;
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px!important;
    margin: 0px!important;
    width: 100%!important;
    // gap: 50px;
    margin: 20px 0px 0px 0px!important;
  }
.progress-bar-item{
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
}
.progress-bar-marker{
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  // border: 1px solid red;
}
.progress-bar-line{
  display: block;
  // border: 1px solid red;
  margin: 0px 5px;
  width: 40px;
}
.progress-bar-container{
  display: none;
}
.progress-bar-container-mv{
  display: block;
}
// .progress-bar-text{
//   display: none;
// }
}
