
  * {
    font-family: 'Montserrat';
  }
.main{
  // border: 1px solid red;
  padding: 20px 250px;
}
.container.main {
  // border: 1px solid red;
  border-radius: 4px;
}
.primary-button {
  background-color: #531422;
  padding: 9px 15px 9px 15px;
  border-radius: 8px;
  border: none;
  color: #f4e3cf;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s all ease;
}

.text-primary {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  color: #531422 !important;
}

.display-4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
}
.click-above-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 5px;
}
.hello-user-img {
  min-width: 100px;
  height: auto;
  // border: 1px solid red;
}
.schedule-btn-mv{
  display: none!important;
}

// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
  .main {
    margin-top: 50px !important;
    width: 100%;
    margin: auto;
    padding: 0px;
    // height:500px;
}
.click-above-text{
  font-size: 14.5px!important;
}
.hello-user-text{
  font-size: 20px!important;
  margin: 10px 0px 0px 0px!important;
}
}
@media (min-width: 180px) and (max-width: 420px) {
  .hello-user-img {
    width: 200px;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 374px){
  .account-login-heading{
    display: flex!important;
    flex-direction: column!important;
    gap:5px!important;
    // border: 1px solid red;
  }
  .hello-user-text{
    font-size: 15px!important;
    margin: 10px 0px 0px 0px!important;
  }
  .schedule-btn{
    display: none!important;
  }
  .schedule-btn-mv{
    display: block!important;
  }
  .click-above-text{
    font-size: 14.5px!important;
    font-weight: 600px!important;
    line-height: 5px!important;
  }
}
