$diflexmo-primary: #4E2267;
$diflexmo-secondary: #A589B7;

$diflexmo-primary-text: #E0DDE4;
$diflexmo-secondary-text: #fff;

$diflexmo-secondary-lighter: rgba($diflexmo-primary-text, 0.5);

$diflexmo-green: #039855;

$diflexmo-yellow: #FEC84B;
