<div class="anatomy">
  <div class="exam-detail" [formGroup]="addExamForm">
    <section class="filter-section">
      <div class="d-flex filter" [formGroup]="filterForm">
        <div class="d-flex heading">
          <mat-icon>tune</mat-icon>
          <h5>{{'Filters' | translate}}</h5>
        </div>
        <div *ngFor="let category of filter" class="filter-items">
          <ng-container *ngIf="!(filterForm.value?.bodyStructure !== 'organs' && category.name !== 'BODY_STEUCTURE')">
            <h6>{{ category.name | translate }}</h6>
            <dfm-radio-button
              *ngFor="let item of category.children"
              class="font-weight-normal"
              [label]="item.name | translate"
              [checkedValue]="item.value |translate"
              [formControlName]="category.formName"
              (click)="category.click ? onGenderChange($event, item.value): ''"
            ></dfm-radio-button>
          </ng-container>
        </div>
      </div>

      <div class="model-container">
        <ng-container [ngSwitch]="filterForm.getRawValue()?.gender">
          <ng-container *ngSwitchCase="'male'">
            <ng-container [ngSwitch]="filterForm.getRawValue()?.side">
              <ng-container *ngSwitchCase="'front'">
                <dfm-organ-male-front-model ></dfm-organ-male-front-model>
              </ng-container>
              <ng-container *ngSwitchCase="'back'">
                <dfm-organ-male-back-model ></dfm-organ-male-back-model>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'female'">
            <ng-container [ngSwitch]="filterForm.getRawValue()?.side">
              <ng-container *ngSwitchCase="'front'">
                <dfm-organ-female-front-model ></dfm-organ-female-front-model>
              </ng-container>
              <ng-container *ngSwitchCase="'back'">
                <dfm-organ-female-back-model ></dfm-organ-female-back-model>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>



    </section>

    <section class="selected-exam dfm-gap-24" *ngIf="examSvc.filterExams$ | async  as filterExams">
      <span>{{'AddExam' | translate}}</span>

      <div class="d-flex flex-column" >
        <div class="d-flex dfm-gap-8 flex-nowrap align-items-end" >
          <dfm-input-dropdown
            [items]="filterExams"
            formControlName="exam"
            size="sm"
            label="{{ 'Exam' | translate }} *"
            placeholder="{{'Select' | translate}} {{examSvc.selectedCategory | lowercase}}{{ (examSvc.selectedCategory ? 'Exams' : '') | translate }}"
            [showDescription]="false"
          ></dfm-input-dropdown>

          <dfm-button-icon
							color="primary"
							size="md"
							icon="x-close"
							ngbPopover="{{ 'Reset' | translate }}"
							triggers="mouseenter:mouseleave"
							popoverClass="popover-p-8"
							[openDelay]="200"
							(click)="examSvc.setCategory(''); addExamForm.get('exam')?.reset()"
              [disabled]="!examSvc.selectedCategory.length && !addExamForm.value?.exam"
						></dfm-button-icon>

          <dfm-button
            color="primary"
            size="sm"
            (click)="onExamSelect(addExamForm.value.exam)"
            [disabled]="!addExamForm.value?.exam"
            >{{'AddExamBtn' | translate}}</dfm-button
          >
        </div>
      </div>
      <small class="text-wrap" *ngIf="filterExams.length && examSvc.selectedCategory && !examSvc.isExamSelected()" >{{'EXAM_EXIST_FOR_SELECTED_BODY_PART' | translate}}</small>
      <small class="text-wrap text-danger" *ngIf="!(examSvc.filterExams$ | async) && examSvc.selectedCategory" >{{'NO_EXAM_FOR_SELECTED_BODY_PART' | translate}}</small>
      <span *ngIf="examSvc.isExamSelected()" class="dfm-main-500">{{'SelectedExam' | translate}}</span>
      <div class="exam-container" >
        <div class="exam-list">
          <div *ngFor="let item of examSvc.selectedExam | keyvalue">
            <p>{{ (item.key | as).replace('_',' ') | titlecase}}</p>
            <div class="exam">
              <mat-chip
                disableRipple
                *ngFor="let exam of examSvc.selectedExam[item.key | as: 'string']"
                (removed)="examSvc.remove(item.key, exam)"
              >
                {{ exam.name }}
                <button matChipRemove >
                  <mat-icon color="primary">{{'cancel' | translate}}</mat-icon>
                </button>
              </mat-chip>
            </div>
          </div>
        </div>
      </div>
      <div class="comments-section" >
        <dfm-text-area
          formControlName="comments"
          label="{{ 'Comments' | translate }}"
          placeholder="{{ 'EnterComments' | translate }}"
        ></dfm-text-area>
      </div>
    </section>
  </div>
</div>
