<div class="dfm-side-nav" [ngClass]="{ 'dfm-side-nav-expanded': isExpanded }">
  <div class=" toggle-btn-mv dfm-side-nav-item dfm-mb-32" (click)="toggleMenu()">
    <div class="dfm-side-nav-item-icon">
      <dfm-icon [name]="isExpanded ? 'x-close' : 'grid-01'"></dfm-icon>
    </div>
  </div>

  <div class="dfm-side-nav-item" [ngClass]="{ 'dfm-side-nav-item-active': url?.includes('dashboard') }"
       (click)="navigate('dashboard')">
    <div class="dfm-side-nav-item-icon">
      <dfm-icon name="home-03"></dfm-icon>
    </div>

    <span *ngIf="isExpanded">Dashboard</span>
  </div>

  <div class="dfm-side-nav-item" [ngClass]="{ 'dfm-side-nav-item-active': url?.includes('appointment') }"
       (click)="navigate('appointment')">
    <div class="dfm-side-nav-item-icon">
      <dfm-icon name="calendar"></dfm-icon>
    </div>

    <span *ngIf="isExpanded">Appointment</span>
  </div>

  <div class="dfm-side-nav-item" [ngClass]="{ 'dfm-side-nav-item-active': url?.includes('profile') }"
       (click)="!isExpanded ? navigate('profile') : myAccount.classList.toggle('dfm-side-nav-sub-menu-show')">
    <!-- =================sub menu design for mobile view=============== -->
       <div class="dfm-side-nav-item-icon">
      <dfm-icon name="user-01"></dfm-icon>
      <div class="sub-menu-mv border-r-16">
        <div class="sub-menu-items-mv">
          <dfm-icon name="user-01"></dfm-icon>
        </div>
        <div class="sub-menu-items-mv">
          <dfm-icon name="shield-01"></dfm-icon>
        </div>
      </div>
    </div>
    <!-- =================sub menu design for mobile view ends here=============== -->

    <span *ngIf="isExpanded">My Account</span>

    <div class="dfm-side-nav-item-icon rotate-z-0" *ngIf="isExpanded"
         [ngClass]="{ 'rotate-z-180': myAccount.className.includes('dfm-side-nav-sub-menu-show') }">
      <dfm-icon name="chevron-down"></dfm-icon>
    </div>
  </div>

  <div #myAccount class="dfm-side-nav-sub-menu"
       [ngClass]="{ 'dfm-side-nav-sub-menu-show': isExpanded && url.includes('profile') }">
    <div class="dfm-side-nav-item-wo-icon" [ngClass]="{ 'dfm-side-nav-item-active': url?.includes('profile') }"
         (click)="navigate('profile'); myAccount.classList.toggle('dfm-side-nav-sub-menu-show')">
      <span>Profile</span>
    </div>

    <div class="dfm-side-nav-item-wo-icon" [ngClass]="{ 'dfm-side-nav-item-active': url?.includes('privacy') }"
         (click)="navigate('privacy'); myAccount.classList.toggle('dfm-side-nav-sub-menu-show')">
      <span>Privacy</span>
    </div>
  </div>

  <div class="dfm-side-nav-item" (click)="logout()">
    <div class="dfm-side-nav-item-icon">
      <dfm-icon name="log-out-04"></dfm-icon>
    </div>

    <span *ngIf="isExpanded">Logout</span>
  </div>
</div>

<!--
  To fill the gap on left after expanded menu.
  This will help retain the styling for other components
-->
<div class="retain-div" style="width: 88px"></div>



