.dfm-side-nav {
  min-width: 80px;
  background: var(--dfm-primary);
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 200ms min-width linear;
}

.dfm-side-nav-expanded {
  transition: 200ms min-width linear;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  padding: 24px;
  position: absolute;
  z-index: 2;

  .dfm-side-nav-item {
    width: 100%;
    border-radius: 16px;
    padding: 0 16px 0 8px;
  }

  .dfm-side-nav-item:first-child {
    width: fit-content;
    padding: 0;
    margin-left: 8px;
  }
}

.dfm-side-nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  border-radius: 8px;
  transition: 100ms all linear;

  &:hover {
    background: white;
    color: var(--dfm-primary);
    cursor: pointer;
  }

  .dfm-side-nav-item-icon {
    width: 45px;
    height: 45px;
    padding: 8px;
  }
}

.dfm-side-nav-item-wo-icon {
  color: white;
  padding: 8px 24px;
  text-align: center;
  border-radius: 16px;
  transition: 100ms all linear;

  &:hover {
    background: white;
    color: var(--dfm-primary);
    cursor: pointer;
  }
}

.dfm-side-nav-item-active {
  background: white;
  color: var(--dfm-primary);
}

.dfm-side-nav-sub-menu {
  height: 0;
  display: flex;
  flex-direction: column;
  align-self: end;
  gap: 16px;
  width: 0;
  overflow: hidden;
  transition: 150ms height linear;
  margin-top: -16px;
}

.dfm-side-nav-sub-menu-show {
  transition: 150ms height linear;
  height: auto;
  width: 80%;
  margin: 0;
}
.sub-menu-mv{
  display: none;
}


@media (min-width: 180px) and (max-width: 680px) {
  .dfm-side-nav{
    position: fixed;
    width: 100%;
    min-width: 0px!important;
    bottom: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    transition: none!important;
    min-height: 0px;
    height: 55px;
  }

  .toggle-btn-mv{
    display: none;
  }

  .dfm-side-nav-sub-menu{
    display: none;
  }

  .dfm-side-nav-item-icon{
    position: relative;
  }

  .sub-menu-mv{
    position: absolute;
    bottom: 43px;
    right:0;
    left: 0;
    max-width: 60px;
    width: 45px;
    color:#fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px!important;
    display: none;
    padding: 5px 0px;
    object-fit: contain;
  }
  .sub-menu-items-mv{
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 6px;
    background-color: var(--dfm-primary);
    font-size: 5px!important;
    margin: 5px 0px;
    padding: 8px;
  }
  .dfm-side-nav-item-icon:hover .sub-menu-mv{
    display: block!important;
  }
  .retain-div{
    width: 0px!important;
  }

}
