<div class="dfm-layout">
  <dfm-navigation-bar [content]="content">
    <ng-template #navigationItems>
      <dfm-navigation-item icon="home-03" title="Dashboard" routerLink="/" [exact]="true"></dfm-navigation-item>
    </ng-template>
    <ng-template #profileItems>
      <dfm-navigation-item-tenant [tenants]="tenants" [currentTenantValue]="currentTenant" (tenantChanged)="changeTenant($event)"
        >Diflexmo</dfm-navigation-item-tenant
      >
      <dfm-navigation-item icon="user-01" title="Profile"></dfm-navigation-item>
    </ng-template>
  </dfm-navigation-bar>
  <div class="content" #content>
    <dfm-notification></dfm-notification>
    <router-outlet></router-outlet>
  </div>
</div>
