@import '../abstracts/variables';

@mixin light {
  --dfm-body-bg: #{$gray-modern-100};
  --dfm-base-layout-bg: #{$gray-modern-100};

  // global colors
  --dfm-primary: #{$diflexmo-primary};
  --dfm-secondary: #{$diflexmo-secondary};
  --dfm-primary-lighter: #{$diflexmo-primary-text};
  --dfm-btn-secondary-lighter: #{$diflexmo-secondary-text};

  // button colors
  --dfm-btn-primary-bg: #{$diflexmo-primary};
  --dfm-btn-primary-bg-hover: #{$diflexmo-primary};
  --dfm-btn-primary-bg-focus: #{$diflexmo-primary};
  --dfm-btn-primary-color: #{$diflexmo-primary-text};
  --dfm-btn-primary-border: #{$diflexmo-primary};
  --dfm-btn-primary-border-hover: #{$diflexmo-primary};
  --dfm-btn-primary-border-focus: #{$diflexmo-primary};

  --dfm-btn-secondary-bg: #{$diflexmo-secondary};
  --dfm-btn-secondary-bg-hover: #{$diflexmo-secondary};
  --dfm-btn-secondary-bg-focus: #{$diflexmo-secondary};
  --dfm-btn-secondary-color: #{$diflexmo-secondary-text};
  --dfm-btn-secondary-color-hover: #{$diflexmo-primary};
  --dfm-btn-secondary-color-focus: #{$diflexmo-primary};
  --dfm-btn-secondary-border: #{$diflexmo-secondary};
  --dfm-btn-secondary-border-hover: #{$diflexmo-secondary};
  --dfm-btn-secondary-border-focus: #{$diflexmo-secondary};

  --dfm-btn-tertiary-bg: #{$diflexmo-primary-text};
  --dfm-btn-tertiary-bg-hover: #{$diflexmo-primary};
  --dfm-btn-tertiary-bg-focus: #{$diflexmo-primary};
  --dfm-btn-tertiary-bg-disabled: #{$white};
  --dfm-btn-tertiary-color: #{$diflexmo-primary};
  --dfm-btn-tertiary-color-hover: #{$diflexmo-primary-text};
  --dfm-btn-tertiary-color-focus: #{$diflexmo-primary-text};
  --dfm-btn-tertiary-color-disabled: #{$gray-modern-300};
  --dfm-btn-tertiary-border: #{$diflexmo-primary};

  --dfm-btn-link-color: #{$diflexmo-primary};
  --dfm-btn-link-color-hover: #{$diflexmo-primary};
  --dfm-btn-link-color-focus: #{$diflexmo-primary};

  // checkbox
  --dfm-checkbox-focus-border: #{$diflexmo-primary};
  --dfm-checkbox-border-hover: #{$diflexmo-primary};

  // radio
  --dfm-radio-hover-border: #{$diflexmo-primary};

  // dropdown
  --dfm-input-dropdown-option-selected-color: #{$diflexmo-primary};

  // input
  --dfm-input-border-focus: #{$diflexmo-secondary};

  // textarea
  --dfm-text-area-focus-border-color: #{$diflexmo-secondary};
}

.light {
  @include light();
}
