@import '../../node_modules/bootstrap/scss/functions';

@import '../../node_modules/diflexmo-angular-design/lib/styles/styles.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import './themes/theme';
.lang-dropdown {
  dfm-input-dropdown {
    input {
      background: transparent !important;
      border: none !important;
      box-shadow: none !important;
      color: var(--dfm-primary) !important;
      &::placeholder,
      &::-webkit-input-placeholder {
        color: var(--dfm-primary) !important;
      }
    }
  }
  dfm-icon {
    color: var(--dfm-primary) !important;
  }
}

dfm-footer {
  margin-top: auto;
}
.account-login-heading{
  dfm-button{
    text-decoration: underline!important;
    color:#531422;
    // background-color: #f4e3cf!important;
    // font-size: 14px!important;
  }
 
}
.register-menu{
  dfm-button{
    // border: 1px solid red!important;
    box-shadow: none!important;
    border: none!important;
  }
 
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@media (min-width: 180px) and (max-width: 680px) {
}
