// .container-fluid {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   background-color: #f4e3cf;
//   // overflow: auto;
// }
* {
  font-family: 'Montserrat';
}

.display-4{
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.nav-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid red;
  height: 70px;

}
.nav-main-container .container .lang-btn {
  max-width: 80px;
  // background-color: transparent;
  display: none;
}
.navigation-section{
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.login-container {
  background-color: #ffff;
  margin: 0px 0px 0px 0px!important;
  margin: auto!important;
  width: 80%;
  // margin: auto;
  // margin-top: 38px;
  display: flex;
  justify-content: space-between;
  padding: 38px 60px;
  // margin-bottom: 100px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  gap: 0px 25px!important;
}

.left-container {
  width: 50%;
  border-right: 1px solid var(--bs-gray-400);
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // border: 1px solid red;


  .left-container-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
}

.register-form {
  padding: 0 64px;
}

.header {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height, or 127% */
  color:var(-dfm-primary);
}

.sub-header {
  font-weight: 500;
  font-size: 20px;
  margin-top: 16px;
  color:var(-dfm-primary);
}

.right-section-header {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */
  margin-top: 40px;
  color: #000000;
}
.existing-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.new-user {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.register-user {
  text-decoration: underline;
  text-decoration-color:var(--dfm-primary);
}
.or-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: row;
  padding: 12px 12px 12px 12px;
  // gap: 3px;
}

.footer-policy {
  //justify-content: space-between;
  //margin-top: -41px;
  //.footer-left {
  //  font-weight: 500;
  //  font-size: 14px;
  //  text-decoration-line: underline;
  //  color: #531422;
  //  margin-left: 8px;
  //}
  //
  //.footer-right {
  //  font-weight: 600;
  //  font-size: 16px;
  //  color: #531422;
  //}
}
.text-primary {
  color:var(--dfm-primary) !important;
}
.text-lite-gray{
  color:#697586
}
.text-bold {
  font-weight: 600;
}
.header-login-btn{
  display: none!important;
}
.header-register-btn{
  display: none!important;
}
// ======================Media Query for Mobile view=================

@media (max-width: 1024px) {
  .register-form {
    transition: all linear 200ms;
    padding: 0;
  }
}

@media (min-width: 180px) and (max-width: 680px) {
  .container-fluid {
    background-color: #fff;
    padding: 0;
    margin: 0;
  }
  .register-form {
    transition: all linear 200ms;
    padding:0px 10px;
    width: 100%;
  }
  .nav-main-container {
    background-color:var(--dfm-primary-lighter)!important;
    width: 100%;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
    position: absolute;
    top: 0;
    z-index: 9999;
    height: 48px!important;
  }
  .nav-main-container .container img {
    margin: 0px;
    padding: 0px;
  }
  .nav-main-container .container .lang-btn {
    max-width: 80px;
    display: block;
  }
  .container-fluid .nav-main-container {
    background-color: #f4e3cf;
    width: 100%;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
    position: absolute;
    top: 0;
    z-index: 9999;
    height: 50px!important;
  }
  .nav-main-container .container img {
    margin: 0px;
    padding: 0px;
  }
  // .nav-main-container .container .lang-btn {
  //   max-width: 50px;
  //   display: block;
  // }
  .login-container {
    box-shadow: none;
    // border: 1px solid blue;
    width: 100%;
    padding: 0;
  }
  .existing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px 0px 15px;
    // border: 1px solid red;
    margin: 30px 0px 0px 0px;
    // border: 1px solid red;
  }
  .register-user {
    text-decoration: underline;
    text-decoration-color:var(--dfm-primary);
    }
  .right-section-header {
    font-size: 25px;
    margin-top: 20px;
    color: #531422;
  }
  .login-container .left-container {
    display: none;
  }
  .login-container .right-container {
    // border: 1px solid red;
    width: 100%;
  }
  .right-subheader-section {
    // border: 1px solid red;
    line-height: 0;
    margin-top: 5px;
  }
  .right-section-header {
    // border: 1px solid red;
  }
  .login-container .right-container .login-form {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  .register-btn-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-policy {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .lang-btn-section{
    display: block!important;
    font-size: 13px!important;
  }
  .nav-main-container .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .home-btn{
    display: none!important;
  }
  .header-login-btn{
    display: block!important;
  }
  .header-register-btn{
    display: block!important;
  }
  .register-mobile-view{
    margin: 30px 0px 30px 0px;
  }
}
