<div class="d-flex flex-column justify-content-center align-items-center dfm-gap-16">
  <section class="d-flex flex-column align-items-center dfm-gap-8">
    <h2 class="font-weight-semi-bold">Register</h2>
    <div class="right-subheader-section d-flex justify-content-center flex-row align-items-center">
      <span class="new-user">Existing user?</span> &nbsp;
      <span class="register-user">
            <dfm-button [color]="'link'" [size]="'lg'" routerLink="/auth/login"> Login </dfm-button>
          </span>
    </div>
  </section>

  <section class="register-form">
    <div class="p-1">
      <dfm-input
        type="text"
        size="sm"
        label="Email*"
        placeholder="Enter Email"
        [disabled]="false"
        icon="mail-05"
        [isInvalid]="false"
        [readonly]="false"
      >
      </dfm-input>
    </div>

    <div class="p-1">
      <dfm-input type="text" size="sm" label="Password*" placeholder="Enter password" [disabled]="false"
                 [isInvalid]="false" [readonly]="false">
      </dfm-input>
    </div>
    <div class="p-1">
      <dfm-input
        type="text"
        size="sm"
        label="Confirm Password*"
        placeholder="Enter password"
        [disabled]="false"
        [isInvalid]="false"
        [readonly]="false"
      >
      </dfm-input>
    </div>

    <div class="p-1">
      <dfm-input
        type="text"
        size="sm"
        label="Phone number*"
        placeholder="Enter phone number"
        [disabled]="false"
        [isInvalid]="false"
        [readonly]="false"
      >
      </dfm-input>
    </div>
  </section>

  <section class="register-btn-section">
    <div class="d-flex justify-content-center text-center">
      <dfm-button [color]="'primary'" [size]="'lg'" (click)="logInUser()"> Register</dfm-button>
    </div>
    <div class="or-section">
      <div>
        <hr class="bg-gray" width="100px"/>
      </div>
      <div><span>&nbsp; or &nbsp; </span></div>
      <div>
        <hr class="bg-gray" width="100px"/>
      </div>
    </div>

    <dfm-button [color]="'secondary'" [size]="'lg'" class="d-flex justify-content-center"
                routerLink="/schedule/overview">
      Schedule Appointment
    </dfm-button>
  </section>
</div>
