.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    top: 10vh;
    height: 50vh;
    width: 60vw;
    border-radius: 10px;
}

