<div class="upload-main-container">
  <!-- <div class="container"> -->
    <!-- <div class="back-container"></div> -->
    <ng-container *ngIf="(loaderSvc.isSpinnerActive$ | async); else container">
      <div class="d-flex justify-content-center align-items-center w-full flex-1">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </ng-container>

    <ng-template #container>
      <div class="front-container">
      <ng-container *ngIf="!((documentUploadProcess | async)?.includes('Uploaded')); else icon">
      <div class="upload-document-btn" *ngIf="(isQrValid | async)">
        <div class="light-circle">
          <input type="file" (change)="uploadRefferingNote($event)" accept = "image/*, application/pdf" />
          <img src="../../../../assets/images/upload-icon.png" alt="upload-icon" />
          <span class="icon-text"[style.color]="(documentUploadProcess | async)?.includes('Failed')? 'red': ''" >{{((documentUploadProcess | async) ?? '') | translate}}</span>
        </div>
      </div>
      <div class="d-flex dfm-gap-6 flex-column" *ngIf="!(isQrValid | async)">
        <img src="../../../../assets/images/qr-code.png" alt="Invalid QR">
        <span class="icon-text">The QR has been expired.</span>
      </div>
    </ng-container>
    <ng-template #icon> <dfm-icon name="check" class="right-icon"></dfm-icon></ng-template>
      <div *ngIf="((documentUploadProcess | async)?.includes('Uploaded'))" class="upload-img-desc flex-column dfm-gap-10">
        <span style="color: blue;" >{{uploadFileName}}</span>
        <span >{{'YOUR_DOCUMNENT_UPLOAD_SUCCESSFULLY' | translate}}</span>
        <dfm-button color="primary" size="lg" (click)="documentUploadProcess.next('UPLOAD_DOCUMENT')" >{{'Edit'|translate}}</dfm-button>
      </div>
    </div>
  </ng-template>
  <!-- </div> -->
</div>
