.upload-main-container {
  height: calc(100vh - 76px - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: white;
    position: relative;
    // top: 10vh;
    height: 80vh;
    width: 60vw;
    border-radius: 10px;
    padding: 0px;
    // .back-container {
    //   background-color: var(--dfm-primary);
    //   height: 300px;
    //   width: 100%;
    //   border-radius: 14px;
    // }
  }
}
.front-container {
  // padding: 20px;
  position: absolute;
  width: 80%;
  height: 80vh;
  z-index: 2222;
  background-color: var(--dfm-primary-lighter);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: column;
  .primary-spectrum {
    width: 100%;
    height: 150px;
    background-color: var(--dfm-primary);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.upload-document-btn {
  position: absolute;
  background-color: var(--dfm-primary-lighter);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  .light-circle {
    background-color: var(--dfm-primary);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    cursor: pointer;
    img {
      object-fit: cover;
      width: 65px;
      animation: slide-up 2.5s linear infinite;
    }
    .icon-text {
      font-weight: 500;
      font-size: 13px;
    }
    input[type="file"]{
        // border: 1px solid red;
        display: inline;
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        opacity: 0;    
        z-index: 2;
        cursor: pointer;
    }
  }
}
.upload-button{
  background-color: var(--dfm-primary);
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}
@keyframes slide-up {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-8px);
    }
    // 100%{
    //     transform: translateY(8px);
    // }
    75% {
      transform: translateY(8px);
    }
    100% {
      transform: translateY(0px);
    }
  }
// @media(max-width:680px){  First mobile view design here
//     .front-container{
//        width: 100%;
//         height: inherit;
//         background-color: var(--dfm-primary-lighter);
//     }
//     .upload-main-container .container{
//         width: 100%;
//         margin: 0px 15px;
//         // background-color: var(--dfm-primary-lighter);
//         height: calc(100vh - 76px - 104px);
//     }
// }
@media (max-width: 680px) {
  .upload-main-container {
    margin: 0px 10px;
    .container {
      width: 100%;
      height: calc(100vh - 76px - 104px);
    }
  }
  .back-container {
    height: 100% !important;
  }
  .front-container {
    background-color:var(--dfm-primary-lighter);
    height: inherit;
    width: 100%;
    justify-content: flex-end;
    overflow: hidden;
  }
  .upload-document-btn {
    // top: -80px;
    width: 150px;
    height: 150px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    .light-circle {
      width: 110px;
      height: 110px;
      img {
        width: 40px;
        transition: 0.3s;
        animation: slide-up 2.5s linear infinite;
      }
      span {
        text-align: center;
      }
    }
  }

}
