<div class="upload-main-container">
    <ng-container *ngIf="(loaderSvc.isSpinnerActive$ | async); else container">
      <div class="d-flex justify-content-center align-items-center w-full flex-1">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </ng-container>

    <ng-template #container>
      <div class="front-container">
        <div class="d-flex dfm-gap-6 flex-column" *ngIf="!(isQrValid | async)">
          <img src="../../../../assets/images/qr-code.png" alt="Invalid QR">
          <span class="icon-text">{{'QR_EXPIRED' | translate}}</span>
        </div>
        <ng-container *ngIf="(isQrValid | async)">
          <div class="upload-document-btn" *ngIf="!documentList$$.value?.length">
            <div class="light-circle">
              <input type="file" (change)="uploadRefferingNote($event)" accept = "image/*, application/pdf" #fileUpload multiple (click)="fileUpload.value = ''; documentListError$$.next([])" />
              <img src="../../../../assets/images/upload-icon.png" alt="upload-icon" />
              <span class="icon-text"[style.color]="(documentUploadProcess | async)?.includes('FAILED_TO_UPLOAD') ? 'red': ''" >{{((documentUploadProcess | async) ?? '') | translate}}</span>
            </div>
          </div>
          <div class="upload-section d-flex flex-column align-items-center h-full " *ngIf="documentList$$.value?.length">
            <div class="upload-document-btn end">
              <div class="light-circle">
                <input type="file" (change)="uploadRefferingNote($event)" accept = "image/*, application/pdf" #fileUpload multiple (click)="fileUpload.value = ''; documentListError$$.next([])" />
                <img src="../../../../assets/images/upload-icon.png" alt="upload-icon" />
              </div>
            </div>
            <p class="upload-text">{{'UPLOAD_DOCUMENT' | translate}}</p>
            <div class="d-flex dfm-gap-8 flex-column document-list">
              <ng-container *ngIf="(documentListError$$ | async) as documentListError">
                <div class="d-flex flex-column dfm-gap-8" *ngFor="let document of documentListError">
                  <p class="file-name error text-truncate" >
                    {{ document.fileName| translate }}&nbsp;
                  </p>
                  <small class="error">{{'( ' + (document?.error === 'fileFormat' ? ('FileFormatNotAllowed' | translate) : ('FileSizeError' | translate) +' ' +fileSize + ' MB') +' )'}}</small>
                </div>
              </ng-container>
              <ng-container *ngIf="(documentList$$ | async) as documentList">
                <div class="d-flex align-items-center dfm-gap-8" *ngFor="let document of documentList">
                  <p class="file-name text-truncate" >
                    {{ document.fileName| translate }}&nbsp;
                  </p>
                </div>
              </ng-container>

              <p class="file-name" *ngIf="isDocumentUploading$$ | async">
                {{ 'Uploading' | translate }}
              </p>
            </div>
          </div>
        </ng-container>
    </div>
  </ng-template>
</div>
