<div class="anatomy">
  <div class="exam-detail">
    <section class="filter-section">
      <div class="d-flex filter" [formGroup]="filterForm">
        <div class="d-flex heading">
          <mat-icon>tune</mat-icon>
          <h5>Filters</h5>
        </div>
        <div *ngFor="let category of filter" class="filter-items">
          <h6>{{ category.name }}</h6>
          <dfm-radio-button
            *ngFor="let item of category.children"
            class="font-weight-normal"
            [label]="item.name"
            [checkedValue]="item.value"
            [formControlName]="category.formName"
          ></dfm-radio-button>
        </div>
      </div>

      <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="filterForm.value?.bodyStructure === 'organs'">
          <dfm-body-model ></dfm-body-model>
        </ng-container>
        <ng-container *ngSwitchCase="filterForm.value?.bodyStructure === 'bones'">
          <dfm-skeleton-model></dfm-skeleton-model>
        </ng-container>
      </ng-container>




    </section>

    <section class="selected-exam dfm-gap-24">
      <span>Add Exams</span>

      <div class="d-flex flex-column">
        <!-- <div class="d-flex dfm-gap-8 flex-wrap" [formGroup]="addExamForm">
          <dfm-input-dropdown
            [items]=""
            formControlName="exam"
            size="sm"
            label="Exam"
            placeholder="Select exam"
          ></dfm-input-dropdown>

          <dfm-button
            color="primary"
            size="sm"
            style="margin-top: 28px"
            (click)="onExamSelect(addExamForm.value.bodyPart, addExamForm.value.exam, true)"
            [disabled]="!addExamForm.value?.exam"
            >Add Exam</dfm-button
          >
        </div> -->
      </div>

      <!-- <hr *ngIf="isExamSelected() && manual" /> -->

      <span *ngIf="isExamSelected()" class="dfm-main-500">Selected Exams</span>

      <div *ngFor="let item of selectedExam | keyvalue">
        <p>{{ item.key }}</p>
        <div class="exam">
          <!-- <mat-form-field class="example-chip-list"> -->
          <mat-chip
            disableRipple
            (removed)="onExamSelect(item.key === 'Head' ? 'Head' : 'Chest', exam)"
            *ngFor="let exam of selectedExam[item.key === 'Head' ? 'Head' : 'Chest']"
          >
            {{ exam }}
            <button matChipRemove>
              <mat-icon color="primary">cancel</mat-icon>
            </button>
          </mat-chip>
          <!-- </mat-form-field> -->
        </div>
      </div>
    </section>
  </div>
</div>
