<div class="login-main-container d-flex flex-column justify-content-center align-items-center dfm-gap-16">
  <section class="d-flex flex-column align-items-center dfm-gap-8">
    <h2 class="font-weight-semi-bold">{{"SignIn" | translate}}</h2>
    <div class="right-subheader-section d-flex justify-content-center align-items-center">
      <span class="new-user">{{"NewUser" | translate}}?</span>&nbsp;
      <div class="register-user">
        <dfm-button [color]="'link'" [size]="'lg'" routerLink="/auth/register">{{"Register" | translate}} </dfm-button>
      </div>
    </div>
  </section>

  <section class="login-form">
    <div class="p-1">
      <dfm-input
        type="text"
        size="sm"
        label="{{'Email' | translate}}*"
        placeholder="{{'EnterEmail' | translate}}"
        icon="mail-05"
      >
      </dfm-input>
    </div>

    <div class="p-1">
      <dfm-input
        [type]="ipType"
        size="sm"
        label="{{'Password' | translate}}*"
        placeholder="{{'EnterPassword' | translate}}"
        [disabled]="false"
        [isInvalid]="false"
        [readonly]="false"
        [formControl]="isPassword"
        icon="key-01"
      >
      </dfm-input>
    </div>
    <div class="forgot-password" routerLink="../forgot">
      <dfm-button color="link" [size]="'lg'"> {{"ForgotPassword" | translate}} </dfm-button>
    </div>
  </section>

  <section class="d-flex justify-content-center flex-column align-items-center">
    <div class="text-center">
      <dfm-button [color]="'primary'" [size]="'lg'" (click)="logInUser()"> {{"SignIn" | translate}} </dfm-button>
    </div>

    <div class="or-section">
      <div>
        <hr class="bg-gray" width="100px" />
      </div>
      <div><span>&nbsp; {{"Or" | translate}} &nbsp; </span></div>
      <div>
        <hr class="bg-gray" width="100px" />
      </div>
    </div>

    <dfm-button [color]="'secondary'" [size]="'lg'" routerLink="/schedule/referral-physician" (click)="resetAppointmentData()"> {{"ScheduleAppointment" | translate}} </dfm-button>
  </section>
</div>
