.exam-form-container {
  padding: 48px;
}

.exam-next-btn-mv {
  display: none;
}
.comments-section-mv{
  display: none!important;
}
.add-more-exam-mv{
  display: none;
}
.comments-mv{
  display: none!important;
}
.comments-section{
  // border: 1px solid green;
  // margin: 0px 0px -10px 0px!important;
}
.trash-btn{
  width: 20px; 
  height: 20px; 
  margin-top: 42px; 
  cursor: pointer;
  color:var(--dfm-primary);
}
// .trash-btn dfm-icon:hover{
//   // background-color:none;
//   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//   padding: 5px;
//   border-radius: 8px;
//   transition: .2s;
// }
.exam-form-main-container{
  .exam-form-container{
    min-width: 40vw ;
  }
  .upload-main-container{
    display: flex;
    // border: 1px solid red;
    justify-content: center;
    align-items: center;
  }
  .upload-container{
    display: flex;
  justify-content: center;
  align-items: center;
    background-color: var(--dfm-primary-lighter);
    border-radius:50px;
    padding: 10px 40px;
    gap: 10px;
    width: auto;
      .upload-btn{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--dfm-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .3s;
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        span{
        color: #ffffff;
        font-size: 12px;
        white-space: normal;
        }
        &:hover{
          transform: scale(1.1);
        }
        input[type="file"]{
          width: inherit;
          height:inherit;
          border-radius: 50%;
          opacity: 0;
          position: absolute;
          &:hover{
            cursor: pointer;
          }
        }
    }
  }
  
  .upload-text, .or-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--dfm-input-label-color);
    // background-color: #ffffff;
    padding: 5px;
    border-radius: 50%;
  }
}
// ======================Media Query for Mobile view=================
@media (min-width: 680px) {
  .exam-form-container {
    min-height: 336px;
    // min-width: 666px;
  }
}
@media (min-width: 180px) and (max-width: 680px) {
  .exam-form-container {
      min-height: min(60vh, 354px);
    }
  .main-exam-container{
    // border: 1px solid red;
    padding: 10px 0px 10px 0px!important;
    background-color: #fff;
  }

  .exam-main-container {
    // background-color: #fff !important;
    // border: 1px solid green;
    width: 100%;
  }
  .exam-form-container{
    padding: 10px 20px!important;
    display: flex;
    // border: 1px solid green;
    flex-direction: column;
    width: 100%;
    box-shadow: none!important;
  }
  .basic-details-progress-bar {
    // border: 1px solid red;
    margin-top: 45px !important;
    // border: 1px solid red;
    width: 100%;
  }
  .basic-details-progress-bar .progress-button {
    font-size: 14px;
    padding: 9px !important;
    border-radius: 4px;
    font-weight: 400;
    line-height: 14px;
}
  .basic-details-progress-bar .time-slot-btn {
    display: none;
  }
  .basic-details-progress-bar .time-slot-btn-mv {
    display: block;
  }
  .progress-bar-hr {
    width: 30px;
    height: 2px;
    opacity: 1;
  }


  .exam-container {
    width: 100% !important;
    // border: 1px solid blue;
    padding: 0px !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .exam-container .left-container {
    width: 100% !important;
    // border: 1px solid black;
    // background-color: #f2f4f7;
  }
  .exam-container .right-container {
    width: 100% !important;
    // border: 1px solid red;
  }

  .exam {
    // border: 1px solid red;
    display: none !important;
  }
  .exam-text-area-mv {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    // border: 1px solid red !important;
  }
  .exam-text-area {
    display: none !important;
  }
  .exam-mv {
    display: block !important;
  }
  .right-container .select-exam-detail {
    display: block;
  }
  .select-exam-detail-mv {
    display: block !important;
    font-size: 14px;
    font-weight: 500;
  }
  .select-exam-detail {
    display: none !important;
  }
  .exam-form-mv {
    box-shadow: none !important;
    background-color: #f2f4f7 !important;
  }

  .add-exam {
    background-color: #f2f4f7;
  }

  .exam-next-btn {
    background-color: #f2f4f7;
  }
  .select-exam-bar{
    display: none;
  }
  .select-exam-bar-mv{
    display: block;
  }
  .basic-details-bar{
    display: none;
  }
  .basic-details-bar-mv{
    display: block;
  }
  .exam-next-btn{
    display: none!important;
  }
  .exam-next-btn-mv{
    display: block!important;
  }
  .add-more-btn {
    display: block!important;
    display: flex!important;
  }
  .comments-mv{
    display: block!important;
  }
  .comments-btn{
    display: none!important;
  }
  .exam-form-main-container .upload-container{
    flex-direction: column;
    padding: 10px;
  }
}

@media (min-width: 320px) and (max-width: 374px){
.basic-details-progress-bar .progress-button{
  font-size: 10.5px!important;
}
}
