.exam-text-area {
  // padding: 10px 14px;
  width: 320px;
  //   height: 30px !important;
}
.container {
  width: 44%;
}

.progress-bar-hr {
  width: 30px;
  height: 4px;
}


.button-design{
    padding: 9px 17px;
}

.select-exam-detail {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.add-more {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  color: #000000;
}
