<div
  class="exam-form-main-container d-flex flex-column justify-content-center align-items-center main-exam-container dfm-gap-24 dfm-p-16 border-r-16"
>
  <form
    [formGroup]="examForm"
    class="exam-form-container dfm-card dfm-gap-16"
    [style.gridColj]="examSelectionForm.value.formType === 'bodyParts' ? 'repeat(1, 1fr)' : 'repeat(2, 1fr)'"
  >
    <ng-container *ngIf="loaderSvc.isSpinnerActive$ | async; else loaded">
      <div class="d-flex justify-content-center align-items-center w-full flex-1">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </ng-container>

    <ng-template #loaded>
      <div class="w-fit d-flex dfm-gap-24 form-type-container" [formGroup]="examSelectionForm">
        <dfm-radio-button class="font-weight-normal" label="Flow 1" [checkedValue]="1" formControlName="formType"></dfm-radio-button>
        <dfm-radio-button class="font-weight-normal" label="Flow 2" [checkedValue]="2" formControlName="formType"></dfm-radio-button>
      </div>

      <span class="dfm-ms-32 dfm-mt-16" *ngIf="examSelectionForm.value.formType === 1">Select a body part to select exams</span>

      <ng-container [ngSwitch]="examSelectionForm.value.formType">
        <!-- <ng-container *ngSwitchCase="'all'">
          <section class="d-flex flex-column dfm-gap-16 flex-1">
            <ng-container *ngIf="filteredPhysicians$$ | async as physician">
              <ng-container *ngIf="siteDetails$$ | async as physicianEnale">
                <dfm-input-dropdown
                  *ngIf="+physicianEnale?.doctorReferringConsent === 0"
                  [items]="physician"
                  label="{{ 'ReferringPhysician' | translate }} {{ +physicianEnale?.doctorReferringConsent === 0 ? '*' : '' }}"
                  placeholder="{{ 'EnterPhysicianName' | translate }}"
                  formControlName="physician"
                  [required]="+physicianEnale?.doctorReferringConsent === 0"
                  [showDescription]="false"
                  size="md"
                >
                  {{ physician }}
                </dfm-input-dropdown>
                <span class="validation-error" *ngIf="examForm.controls['physician'].hasError('required') && examForm.controls['physician'].touched">
                  {{ 'RequiredField' | translate }}
                </span>
              </ng-container>
            </ng-container>
            <section class="comments-mv">
              <dfm-text-area
                formControlName="comments"
                label="{{ 'Comments' | translate }}"
                placeholder="{{ 'EnterComments' | translate }}"
              ></dfm-text-area>
            </section>

            <span class="select-exam-detail">{{ 'SelectExamsBelow' | translate }}</span>

            <div class="d-flex flex-column dfm-gap-8" formArrayName="exams">
              <div class="d-flex flex-column" [formGroupName]="i" *ngFor="let creds of examCount().controls; let i = index">
                <div class="d-flex dfm-gap-8" *ngIf="filteredExams$$ | async as items">
                  <div>
                    <dfm-input-dropdown
                      [items]="items | removeSelectedItem : examForm.value?.exams : i"
                      formControlName="exam"
                      label="{{ 'Exam' | translate }} *"
                      placeholder="{{ 'SelectExam' | translate }}"
                      size="md"
                      [showDescription]="false"
                    >
                      {{ items }}
                    </dfm-input-dropdown>
                  </div>
                  <div class="trash-btn" (click)="removeExam(i)">
                    <dfm-icon
                      [name]="'trash-01'"
                      ngbPopover="{{ 'Delete' | translate }}"
                      triggers="mouseenter:mouseleave"
                      popoverClass="popover-p-8"
                      [openDelay]="200"
                      *ngIf="examCount().length > 1"
                    ></dfm-icon>
                  </div>
                </div>
                <small class="validation-error" *ngIf="creds.get('exam')?.hasError('required') && creds.get('exam')?.touched">
                  {{ 'RequiredField' | translate }}</small
                >
                <small class="validation-error" *ngIf="creds?.get('uncombinableError')?.value">{{ 'EXAM.UNCOMBINABLE_ERROR' | translate }}</small>
              </div>

              <div class="add-exam-btn"></div>
            </div>

            <div class="add-more-btn d-flex align-items-center dfm-gap-8 pointer add more-btn" (click)="addExam()">
              <div style="width: 24px; height: 24px" class="dfm-bg-color-primary text-white rounded-circle">
                <dfm-icon name="plus"></dfm-icon>
              </div>
              <dfm-button color="link" size="sm">
                <span>{{ 'ClickToAddMoreExam' | translate }}</span></dfm-button
              >
            </div>
          </section>

          <section class="comments-btn flex-1">
            <div class="comments-section">
              <dfm-text-area
                formControlName="comments"
                label="{{ 'Comments' | translate }}"
                placeholder="{{ 'EnterComments' | translate }}"
              ></dfm-text-area>
            </div>
          </section>
        </ng-container> -->
        <ng-container *ngSwitchCase="1">
          <dfm-anatomy-modal></dfm-anatomy-modal>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <dfm-anatomy-modal [manual]="true"></dfm-anatomy-modal>
        </ng-container>
      </ng-container>
    </ng-template>
  </form>

  <dfm-button color="primary" size="lg" (click)="saveExamDetails()" class="exam-next-btn" [disabled]="examForm.invalid">
    {{ 'Next' | translate }}
  </dfm-button>

  <dfm-button color="primary" size="sm" (click)="saveExamDetails()" class="exam-next-btn-mv" [disabled]="examForm.invalid">
    {{ 'Next' | translate }}
  </dfm-button>
</div>
