<div class="d-flex flex-column justify-content-center align-items-center main-exam-container dfm-gap-24 dfm-p-16">
  <form [formGroup]="examForm" class="exam-form-container dfm-card d-flex dfm-gap-16">
    <section class="d-flex flex-column dfm-gap-16 flex-1" *ngIf="filteredPhysicians$$ | async as physician">
      <dfm-input-dropdown
        [items]="physician"
        (searchInput)="searchInput($event)"
        label="Referring Physician*"
        placeholder="Enter physician name"
        formControlName="physician"
        [showDescription]="false"
        size="md"
      >
        {{ physician }}
      </dfm-input-dropdown>

      <span class="select-exam-detail">Select exam(s) below</span>

      <div class="d-flex flex-column dfm-gap-8" formArrayName="exams">
        <div class="d-flex flex-column" [formGroupName]="i" *ngFor="let creds of examCount().controls; let i = index">
          <div class="d-flex dfm-gap-8" *ngIf="filteredExams$$ | async as items">
            <dfm-input-dropdown [items]="items" formControlName="examName" label="Exam*" placeholder="Select Exam"
                                size="md">
              {{ items }}
            </dfm-input-dropdown>

            <div style="width: 20px; height: 20px; margin-top: 42px; cursor: pointer"
              (click)="removeExam(i);"
            >
              <dfm-icon [name]="'trash-01'" *ngIf="examCount().length > 1"></dfm-icon>
            </div>
          </div>
        </div>

        <div class="add-exam-btn">
        </div>
      </div>

      <div class="d-flex align-items-center dfm-gap-8 pointer" (click)="addExam()">
        <div style="width: 24px; height: 24px;" class="dfm-bg-color-primary text-white rounded-circle"><dfm-icon name="plus"></dfm-icon></div>
        <dfm-button color="link" size="sm">
          Click to add more exam
        </dfm-button>
      </div>
    </section>

    <section>
      <dfm-text-area formControlName="comments" [label]="'Comments'" [placeholder]="'Enter Comments'"></dfm-text-area>
    </section>

    <!--Right Section Ends Here=================-->
  </form>

  <dfm-button color="primary" size="lg" (click)="saveExamDetails()" class="exam-next-btn" [disabled]="examForm.invalid">
    Next
  </dfm-button>

  <dfm-button color="primary" size="sm" (click)="saveExamDetails()" class="exam-next-btn-mv" [disabled]="examForm.invalid">
    Next
  </dfm-button>
</div>
