<div class="nav container">
    <div class="right-logo">
        <img src="../../../../assets/images/logo.svg" alt="difleximo">
    </div>
    <div class="left-menu">
        <dfm-button [color]="'link'" [size]="'lg'" class="button-design mt-2">
            Home
        </dfm-button>
        <dfm-button [color]="'secondary'" [size]="'lg'" [leadingIcon]="'user-01'" class="button-design">
            Register
        </dfm-button>
        <dfm-button [color]="'secondary'" [size]="'lg'" [leadingIcon]="'user-01'" class="button-design">
            Login
        </dfm-button>
        <dfm-button [color]="'primary'" [size]="'lg'" [leadingIcon]="'user-01'" class="button-design">
            Schedule Appointment
        </dfm-button>

        <div class="mx-3"><span class="language-color-primary">NL|</span> <span class="language-color">EN</span></div>
    </div>
</div>