<div class="container-fluid mt-5 footer-main-container py-3" *ngIf="url === '/' || (url === undefined && url === '')">
  <div class="container">
    <!-- <div class="footer"> -->
    <div class="row dashboard-footer">
      <div class="footer-items col-md-4 col-sm-12 footer-text d-flex flex-row justify-content-center align-items-center gap-3">
        <span> <img src="../../../../assets/images/location.svg" style="width: 23px" /></span>
        <span class="footer-location-text">Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit,</span>
      </div>
      <div class="footer-items col-md-4 col-sm-12 d-flex flex-row justify-content-center align-items-center gap-3">
        <span> <img src="../../../../assets/images/phone.svg" style="width: 23px" /></span><span class="footer-text">22 11 34 56</span>
      </div>
      <div class="footer-items col-md-4 col-sm-12 d-flex flex-row justify-content-center align-items-center gap-3">
        <span> <img src="../../../../assets/images/mail.svg" style="width: 23px" /></span>
        <span class="footer-text">radiology@gmail.com</span>
      </div>
    </div>

    <!-- </div> -->
  </div>
</div>

<div class="footer-policy">
  <div class="footer-left">Privacy Policy and Cookies</div>
  <div class="footer-right">Powered by Diflexmo Scheduling System</div>
</div>
