.footer {
  background-color: #531422;
  padding: 0;
  margin: 0;
}

.footer-main-container {
  background-color: #531422;
  margin: 20px 0px 0px 0px;
}
.dashboard-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
  // border: 1px solid red;
  // padding: 16px 177.5px;
  color: #ffff;
  // width: 100% !important;
  // height: 88px;
  // margin-top: 20px;
  background: #531422;
  .footer-text {
    display: flex;
    padding: 0;
    margin: 0;
  }
}
.footer-location-text {
  font-size: 16px;
}
.footer-text {
  font-size: 18px;
  // border: 1px solid red;
}

.footer-policy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  // border: 1px solid red;
  // margin-top: 10px;
  padding: 8px 10px;
  .footer-left {
    font-weight: 500;
    font-size: 14px;
    text-decoration-line: underline;
    color: #531422;
    // margin-left: 8px;
  }

  .footer-right {
    font-weight: 600;
    font-size: 16px;
    color: #531422;
  }
}

// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
  .footer-main-container {
    padding: 10px 0px !important;
    margin: 60px 0px 0px 0px !important;
    // border: 1px solid blue !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    // border: 1px solid darkblue !important;
  }
  .footer-main-container .container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
  }
  .dashboard-footer {
    // border: 1px solid red;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    // border: 1px solid white;
    gap: 12px;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .footer-items {
    display: flex;
    justify-content: flex-start !important;
    padding: 0;
    margin: 0;
    gap: 5px;
  }

  // .footer-text {
  //   display: flex !important;
  //   // flex-direction: column;
  //   justify-content: center !important;
  // }
  .footer-policy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 20px;
    width: 100%;
    gap: 5px;
  }
}
