<div class="d-flex flex-column">
  <section  *ngIf="url === '/'">
    <div class="footer-sec-1" *ngIf="siteDetails$$ | async as siteDetails">
      <div class="footer-items col-md-4 footer-text d-flex flex-row justify-content-center align-items-center gap-3">
        <div style="width: 25px; height: 25px"><dfm-icon name="marker-pin-01"></dfm-icon></div>
        <span class="footer-text">{{ siteDetails['data']?.address }}</span>
      </div>

      <div class="footer-items col-md-4 d-flex flex-row justify-content-center align-items-center gap-3">
        <div style="width: 25px; height: 25px"><dfm-icon name="phone"></dfm-icon></div>
        <span class="footer-text">{{ siteDetails['data']?.telephone }}</span>
      </div>

      <div class="footer-items col-md-4 d-flex flex-row justify-content-center align-items-center gap-3">
        <div style="width: 25px; height: 25px"><dfm-icon name="mail-01"></dfm-icon></div>
        <span class="footer-text">{{ siteDetails['data']?.email }}</span>
      </div>
    </div>
  </section>

  <section class="footer-sec-2" [ngClass]="{ 'dfm-bg-primary-lighter': url.includes('auth') }">
    <div class="privacy-footer-mv w-100 d-flex flex-row justify-content-between align-items-center" [ngClass]="{ 'login-footer': url.includes('dashboard'), 'login-footer-app': url.includes('appointment'), 'login-footer-profile': url.includes('profile'), 'login-footer-privacy': url.includes('privacy')  }">
    <span class="footer-left pointer underline-primary font-weight-medium text-sm" routerLink="/privacy/policy">{{"PrivacyPolicyAndCookies" | translate}}</span>
    <span class="footer-right font-weight-semi-bold">{{ 'PoweredByDiflexmo' | translate }}</span>
  </div>
  </section>
</div>
