.footer-main-container {
  //background-color: var(--dfm-primary);
}

.footer-sec-1 {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  background: var(--dfm-primary);
  color: var(--dfm-primary-lighter);
  padding: 24px 32px;
}

.footer-sec-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  color: var(--dfm-primary);
}

.dashboard-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
  // border: 1px solid red;
  // padding: 16px 177.5px;
  color: #ffff;
  // width: 100% !important;
  // height: 88px;
  // margin-top: 20px;
  //background: var(--dfm-primary);
  .footer-text {
    display: flex;
    padding: 0;
    margin: 0;
  }
}

.footer-location-text {
  font-size: 16px;
}

.footer-text {
  font-size: 16px;
  // border: 1px solid red;
}


// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
  .footer-sec-1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-sec-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-text{
    font-size: 14px;
  }
  .footer-right{
    font-size: 14px;
  }
}
