<div class="main-container d-flex flex-column align-items-center dfm-gap-24 dfm-p-16">
  <div class="appointment-container d-grid grid-cols-2 dfm-gap-24">
    <section class="confirm-details dfm-card dfm-p-24 flex-1">
      <div class="patient-details">
        <h5 class="font-weight-bold">Patient Details</h5>
        <div class="patient-detail-container">
          <table>
            <tr>
              <td>Name :</td>
              <td>{{ basicDetails?.patientFname | titlecase }} {{ basicDetails?.patientLname }}</td>
            </tr>
            <tr>
              <td>Email :</td>
              <td>{{ basicDetails?.patientEmail }}</td>
            </tr>
            <tr>
              <td>Phone No. :</td>
              <td>{{ basicDetails?.patientTel }}</td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <section class="dfm-card d-flex flex-column dfm-p-24 dfm-gap-16 flex-1">
      <h5 class="font-weight-bold">Appointment Details</h5>

      <div class="exams-section-mv d-flex align-items-start dfm-gap-8 font-weight-medium">
        <span>Exams: </span>
        <span>{{ examDetails.exam }}</span>
      </div>

      <div class="appointment-details-mv d-flex dfm-gap-16">
        <div class="d-flex align-items-center gap-2 font-weight-medium">
          <div style="width: 20px; height: 20px">
            <dfm-icon name="calendar-check-01"></dfm-icon>
          </div>
          <span>Date: </span>
          <span class="text-nowrap">{{ slotDetails?.date | date : 'longDate' }}</span>
        </div>

        <div class="d-flex gap-2 font-weight-medium time-section">
          <div style="width: 20px; height: 20px">
            <dfm-icon name="clock"></dfm-icon>
          </div>
          <span>Time: </span>
          <span class="time-span" *ngIf="slotDetails?.slots">{{ slotDetails?.slots | joinWithAnd : 'slot' }}</span>
        </div>
      </div>

      <div class="instructions-text-section">
        <span class="font-weight-medium">Instructions :</span>
        <span class="text-sm">*Have an empty stomach 10 hours prior to the test (Levering stuenzolen)</span>
      </div>


      <div class="d-flex flex-column dfm-gap-8" *ngIf="isConfirmed">
        <!-- <span class="font-weight-medium">Status</span>

        <dfm-badge size="sm">
          <span class="appointment-status font-weight-medium">Pending</span>
        </dfm-badge> -->
        <div class="appointment-status">
          <span>Appointment Status : <span class=" status-text bg-warning text-white">Pending</span></span>
          <span class="confirmation-message">We will notify you by email once your appointment has been confirmed.</span>
        </div>
      </div>
    </section>
  </div>

  <div class="checkbox-section w-fit" *ngIf="isCanceled === false && isConfirmed === false">
    <div class="w-fit">
      <dfm-checkbox
        label="I have an application from my referring GP, doctor specialist or dentist.*"
        size="sm"
        class="w-fit"
        [formControl]="referDoctorCheckbox"
      >
      </dfm-checkbox>
    </div>

    <div class="w-fit">
      <dfm-checkbox
        label="I hereby give consent to store my personal information.*"
        size="sm"
        class="w-fit"
        [formControl]="consentCheckbox"
      >
      </dfm-checkbox>
    </div>
  </div>

  <div class="d-flex justify-content-center confirm-btn-section dfm-gap-16">
    <dfm-button color="secondary" size="lg" routerLink="../basic-details" *ngIf="!isConfirmed && !isCanceled"
                class="back-btn"> Back
    </dfm-button>
    <dfm-button color="secondary" size="sm" routerLink="../basic-details" *ngIf="!isConfirmed && !isCanceled"
                class="back-btn-mv"> Back
    </dfm-button>
    <dfm-button color="primary" size="lg" leadingIcon="chevron-left" routerLink="/schedule/overview" *ngIf="isCanceled" class="back-btn2"> Go to
      Dashboard
    </dfm-button>
    <dfm-button color="primary" size="sm" routerLink="../overview" *ngIf="isCanceled" class="back-btn2-mv">
      Back
    </dfm-button>

    <dfm-button
      [color]="'primary'"
      [size]="'lg'"
      [disabled]="checkBoxStatus()"
      (click)="confirmAppointment()"
      class="confirm-btn"
      *ngIf="!isConfirmed && !isCanceled && !isEdited"
    >
      Confirm
    </dfm-button>
    <dfm-button
      [color]="'primary'"
      [size]="'sm'"
      [disabled]="checkBoxStatus()"
      (click)="confirmAppointment()"
      class="confirm-btn-mv"
      *ngIf="!isConfirmed && !isCanceled && !isEdited"
    >
      Confirm
    </dfm-button>


    <dfm-button
      [color]="'primary'"
      [size]="'lg'"
      [disabled]="checkBoxStatus()"
      (click)="editAppointment()"
      class="confirm-btn"
    >
      update
    </dfm-button>
    <dfm-button
      [color]="'primary'"
      [size]="'sm'"
      [disabled]="checkBoxStatus()"
      (click)="editAppointment()"
      class="confirm-btn-mv"
      *ngIf="isEdited"
    >
      Confirm
    </dfm-button>
  </div>

  <div class="pending-section-button d-flex justify-content-center dfm-gap-16" *ngIf="isConfirmed">
    <dfm-button [color]="'secondary'" [size]="'lg'" (click)="isConfirmed = true" class="mx-3 edit-btn"
                routerLink="/schedule/slot">
      Edit Appointment
    </dfm-button>
    <dfm-button [color]="'secondary'" [size]="'sm'" (click)="isConfirmed = true" class="mx-3 edit-btn-mv"
                routerLink="/schedule/slot">
      Edit
    </dfm-button>
    <dfm-button [color]="'primary'" [size]="'lg'" class="cancel-btn" (click)="cancelAppointment()">
      Cancel Appointment
    </dfm-button>
    <dfm-button [color]="'primary'" [size]="'sm'" class=" cancel-btn-mv"
                (click)="isCanceled = true; isConfirmed = false">
      Cancel
    </dfm-button>
  </div>
</div>

