<div class="landing-page d-flex flex-column align-items-center dfm-gap-32 dfm-p-32">
  <div class="radiology-section bg-white border-r-16" *ngIf="info$$ | async as siteDetails">
    <div class="left-section">
      <h3 class=" welcome-text m-0">{{(siteDetails['heading'])}}</h3>
      <div class="sub-header mt-4">{{(siteDetails['subHeading'])}}</div>
      <p class="p-data mt-3">{{(siteDetails['bodyText'])}}</p>
      <!-- <dfm-button [color]="'primary'" [size]="'lg'" class="schedule-button" routerLink="/schedule/overview">
        Schedule Appointment
      </dfm-button> -->
      <div class="mt-4 sc-btn">
      <dfm-button
        color="primary"
        size="lg"
        class="button-design schedule-button"
        routerLink="/schedule/overview"
      >
        {{"ScheduleAppointment"  | translate}}
      </dfm-button>
    </div>
      <dfm-button [color]="'primary'" [size]="'sm'" class="schedule-sm-button-mv" routerLink="/schedule/overview">
        {{"ScheduleAppointment"  | translate}}
      </dfm-button>
    </div>

    <div class="right-section">
      <div class="right-section-img">
        <img class="w-100 h-100 object-fit-contain" src="../../../../assets/images/landing-1.png" />
      </div>
    </div>
  </div>

  <div class="weekly-main-container bg-white border-r-16">
    <div class="weekly-container">
      <div class="weekly-content-left">
        <img
          src="../../../../assets/images/landing-2.png"
          alt="left-content-img"
          width="450px"
          height="300px"
          class="schedule-image"
        />
      </div>

      <div class="weekly-content-right">
        <div class="opening-detail-table shadow-sm">
          <span class="opening-section-header">{{"OpeningDays" | translate}}</span>
          <span class="opening-section-header-mv mx-2"> {{"OpeningDays" | translate}}</span>
          <table class="mt-2 opening-days">
            <tr *ngFor="let item of weekDay;let i = index;">
              <th *ngIf="i > 0"> {{days[i] | translate}}</th>
              <td *ngIf="i > 0"><span *ngIf="item ; else elseBlock">{{item}}</span></td>
              <!-- <td *ngIf="i > 0"><span *ngIf="item ; else elseBlock">{{item.split('-')[0] | date: 'HH-MM'}}{{item.split('-')[1] | date: 'HH-MM'}}</span></td> -->
            </tr>
            <tr *ngFor="let item of weekDay;let i = index;">
              <th *ngIf="i === 0">{{days[i] | translate}}</th>
              <td *ngIf="i ===0"><span *ngIf="item ; else elseBlock">{{item}}</span></td>
            </tr>
            <ng-template #elseBlock>{{"Closed" | translate}}</ng-template>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
