<div class="landing-page d-flex flex-column dfm-gap-32 dfm-p-32">
  <div class="container radiology-section bg-white border-r">
    <div class="left-section">
      <p class="header-section">Welcome to Radiology</p>
      <div class="sub-header">Appointment Scheduling made easy</div>
      <p class="p-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
      <dfm-button [color]="'primary'" [size]="'lg'" class="schedule-button" routerLink="/schedule-appointment/overview">
        Schedule Appointment
      </dfm-button>
      <dfm-button [color]="'primary'" [size]="'sm'" class="schedule-sm-button-mv" routerLink="/schedule-appointment/overview">
        Schedule Appointment
      </dfm-button>
    </div>

    <div class="right-section">
      <div class="right-section-img">
        <img src="../../../../assets/images/landing-1.png" />
      </div>
    </div>
  </div>

  <div class="container weekly-main-container bg-white border-r">
    <div class="weekly-container">
      <div class="weekly-content-left">
        <img
          src="../../../../assets/images/landing-2.png"
          alt="left-content-img"
          width="450px"
          height="300px"
          class="schedule-image"
        />
      </div>

      <div class="weekly-content-right">
        <div class="opening-detail-table shadow-sm">
          <span class="opening-section-header">Opening days</span>
          <span class="opening-section-header-mv mx-2"> Opening days</span>
          <table class="mt-2">
            <tr>
              <th>Monday</th>
              <td>17:30 - 23:40</td>
            </tr>
            <tr>
              <th>Tuesday</th>
              <td>Closed</td>
            </tr>
            <tr>
              <th>Wednesday</th>
              <td>9:15 - 12:40, 13:00 - 20:30</td>
            </tr>
            <tr>
              <th>Thursday</th>
              <td>8:00 - 12:45</td>
            </tr>
            <tr>
              <th>Friday</th>
              <td>Closed</td>
            </tr>
            <tr>
              <th>Saturday</th>
              <td>Closed</td>
            </tr>
            <tr>
              <th>Sunday</th>
              <td>Closed</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
