
.header-section {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 0px;
  //margin-top: 20px;
  color: #000000;
  // border: 1px solid red;
}

.sub-header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  color:var(--dfm-primary);
  // border: 1px solid red;
}

.p-data {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  // margin: 10px 0px 0px 0px;
}

.radiology-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 32px;
  width: 80%;

  .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 45px;
    gap: 8px;
    // border: 1px solid black;
  }

  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .right-section img {
    object-fit: contain;
  }

}
.weekly-main-container{
  width: 80%;
  padding: 32px;
}

.location {
  height: 56px;
  width: 30%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  flex: none;
  flex-grow: 0;
  justify-content: space-between;
  color: #fff;
}

.opening-days-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9px;
  padding-left: 30px;
  padding-top: 30px;
  width: 706px;
  background: #ffffff;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
}

.opening-section-header {
  width: 300px;
  height: 38px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color:var(--dfm-primary);
  // padding: 0px 0px 50px 0px;
  // border: 1px solid red;
}

.footer-text {
  width: 285px;
  height: 56px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.weekly-container {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid red;
  .weekly-content-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 55px 0px 0px 0px;
    .schedule-image {
    }
  }
  .weekly-content-right {
    width: 50%;
    border-radius: 8px!important;
  }
  .opening-detail-table {
    background-color: #ffffff;
    // box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    margin-top: 10px;
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
  }
}

.open-day {
  width: 103px;
  height: 38px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  margin-left: 30px;
}

.open-time {
  // width: 103px;
  height: 38px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  margin-left: 45px;
}
.schedule-sm-button-mv {
  display: none;
}
table {
  width: 100%;
  // border: 1px solid red;
}
table,
th,
td {
  border-collapse: collapse;
  font-weight: 500;
}
th,
td {
  padding: 8px;
  text-align: left;
  margin: 0;
}
.opening-section-header-mv{
  display: none;
}
// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
  .landing-page {
    padding: 24px;
  }

  .radiology-section {
    // border: 1px solid red;
    width: 100%;
    padding: 0px 10px;
  }

  .radiology-section .left-section {
    width: 100%;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    // background-color: white;
    border-radius: 8px;
    padding: 0px 5px 8px 5px;
    margin: 60px 0px 0px 0px!important;
  }
  .schedule-button {
    display: none;
  }
  .schedule-sm-button-mv {
    display: block;
  }
  .radiology-section .right-section {
    display: none;
    border: 1px solid black;
  }
  .radiology-section .right-section .right-section-img {
    min-width: 110px;
    height: 100px;
    // border: 1px solid red;
  }
  .radiology-section .right-section .right-section-img img {
    width: 100%;
    height: auto;
  }
  .radiology-section .left-section .header-section {
    font-size: 26px;
    font-weight: 500;
    color: #000000;
    // margin: 10px 0px 0px 0px;
    // border: 1px solid red;
    margin: 0px!important;
  }
  .radiology-section .left-section .sub-header {
    font-size: 16px;
    font-weight: 600;
  }
  .radiology-section .left-section .p-data {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    // margin: 5px 0px 0px 0px;
  }
  .header-section {
  }
  .weekly-container .weekly-content-left {
    display: none;
  }
  .weekly-container .weekly-content-right {
    width: 100%;
    // border: 1px solid red;
    padding: 0px 10px;
    margin: 10px 0px 0px 0px;
  }
  .weekly-container .weekly-content-right .opening-detail-table {
    width: 100%;
    // border: 1px solid black;
    padding: 10px;
    margin: 10px 0px 0px 0px;
  }
  .weekly-container .weekly-content-right .opening-section-header {
    font-size:18px;
  }
  .weekly-container .weekly-content-right .opening-detail-table .opening-days {
    width: 50%;
    border: 1px solid red;
  }
  th,
  td {
    border-collapse: collapse;
    // border: 1px solid red;
    font-size: 15px;
    font-weight: 500;
  }
  .opening-section-header{
    display: none;
  }
  .opening-section-header-mv{
    display: block!important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: var(--dfm-primary);
  }
}

@media (min-width: 320px) and (max-width: 374px){
  .header-section{
    font-size: 22px!important;
  }
  .sub-header{
    font-size: 16px!important;
  }
}
