.header-section {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  margin-top: 38px;
  color: #000000;
}

.sub-header {
  width: 607px;
  height: 134px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  /* or 125% */

  letter-spacing: -0.02em;

  color: #531422;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.p-data {
  width: 638px;
  height: 96px;
  left: 29px;
  top: 216px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.radiology-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .left-section {
    width: 50%;
  }

  .right-section {
    width: 50%;
  }
}

.location {
  height: 56px;
  width: 30%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  flex: none;
  flex-grow: 0;
  justify-content: space-between;
  color: #fff;
}

.opening-days-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9px;
  padding-left: 30px;
  padding-top: 30px;
  width: 706px;
  background: #ffffff;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
}

.opening-section-header {
  width: 300px;
  height: 38px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height, or 127% */

  color: #531422;
}

.footer-text {
  width: 285px;
  height: 56px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.weekly-container {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  .weekly-content-left {
    width: 50%;
    .schedule-image {
      margin-top: 55px;
    }
  }

  .weekly-content-right {
    width: 50%;
    top: 542px;
    border-radius: 8px;
  }
  .opening-detail-table {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    margin-top: 16px;
    padding: 16px 16px 16px 16px;
  }
}

.open-day{
  width: 103px;
    height: 38px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    margin-left: 30px;
}

.open-time{
  // width: 103px;
  height: 38px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  margin-left: 45px;

}
