<div class="landing-page d-flex flex-column align-items-center dfm-gap-32 dfm-p-32">
  <div class="radiology-section bg-white border-r-16">
    <div class="left-section">
      <h3 class=" welcome-text m-0">Welcome to Radiology</h3>
      <div class="sub-header mt-4">Appointment Scheduling made easy</div>
      <p class="p-data mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
      <!-- <dfm-button [color]="'primary'" [size]="'lg'" class="schedule-button" routerLink="/schedule/overview">
        Schedule Appointment
      </dfm-button> -->
      <div class="mt-4 sc-btn">
      <dfm-button
        color="primary"
        size="lg"
        class="button-design schedule-button"
        routerLink="/schedule/overview"
      >
        Schedule Appointment
      </dfm-button>
    </div>
      <dfm-button [color]="'primary'" [size]="'sm'" class="schedule-sm-button-mv" routerLink="/schedule/overview">
        Schedule Appointment
      </dfm-button>
    </div>

    <div class="right-section">
      <div class="right-section-img">
        <img class="w-100 h-100 object-fit-contain" src="../../../../assets/images/landing-1.png" />
      </div>
    </div>
  </div>

  <div class="weekly-main-container bg-white border-r-16">
    <div class="weekly-container">
      <div class="weekly-content-left">
        <img
          src="../../../../assets/images/landing-2.png"
          alt="left-content-img"
          width="450px"
          height="300px"
          class="schedule-image"
        />
      </div>

      <div class="weekly-content-right">
        <div class="opening-detail-table shadow-sm">
          <span class="opening-section-header">Opening days</span>
          <span class="opening-section-header-mv mx-2"> Opening days</span>
          <table class="mt-2">
            <tr>
              <th>Monday</th>
              <td>17:30 - 23:40</td>
            </tr>
            <tr>
              <th>Tuesday</th>
              <td>Closed</td>
            </tr>
            <tr>
              <th>Wednesday</th>
              <td>09:15 - 12:40, 13:00 - 20:30</td>
            </tr>
            <tr>
              <th>Thursday</th>
              <td>08:00 - 12:45</td>
            </tr>
            <tr>
              <th>Friday</th>
              <td>Closed</td>
            </tr>
            <tr>
              <th>Saturday</th>
              <td>Closed</td>
            </tr>
            <tr>
              <th>Sunday</th>
              <td>Closed</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
