<div class="basic-details-progress-bar d-flex justify-content-center">
    <div>
      <button class="progress-button bg-success text-white exam-btn">Select Exam</button>
      <button class="progress-button bg-success text-white exam-btn-mv">Exam</button>
    </div>
    <div>
      <hr class="progress-bar-hr bg-success" />
    </div>
    <div>
      <button class="progress-button bg-success text-white time-slot-btn">Select Time Slot</button>
      <button class="progress-button bg-success text-white time-slot-btn-mv">Slot</button>
    </div>
    <div>
      <hr class="progress-bar-hr bg-success" />
    </div>
    <div >
      <button class="progress-button bg-success text-white">Basic Details</button>
    </div>
    <div>
      <hr class="progress-bar-hr bg-success" />
    </div>
    <div>
      <button >Confirm</button>
    </div>
  </div>
  <div class="container mt-3 p-0 d-flex justify-content-center align-items-center form-container-mv">
    <div class="form-mv bg-white p-5 border-r shadow">
      <div class="form-group-container d-flex justify-content-center gap-4 border border-danger">
        <div class="form-group">
          <dfm-input type="text" size="sm" label="First Name*" placeholder="First Name" ></dfm-input>
        </div>
        <div class="">
          <dfm-input type="text" size="sm" label="Last Name*" placeholder="Last Name" ></dfm-input>
        </div>
      </div>
      <div class="form-group-container d-flex justify-content-center gap-4 mt-3">
        <div class="form-group">
          <dfm-input type="email" size="sm" label="Email*" placeholder="Email" ></dfm-input>
        </div>
        <div class="">
          <dfm-input type="text" size="sm" label="Phone Number*" placeholder="Phone"></dfm-input>
        </div>
      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-center mt-3">
    <dfm-button [color]="'secondary'" [size]="'lg'" routerLink="/schedule-appointment/date-time" class="basic-back-btn"> Back </dfm-button>
    <dfm-button [color]="'secondary'" [size]="'sm'" routerLink="/schedule-appointment/date-time" class="basic-back-btn-mv"> Back </dfm-button>
    <dfm-button [color]="'primary'" [size]="'lg'" routerLink="/schedule-appointment/confirm-appointment" class="mx-3 basic-next-btn"> Next </dfm-button>
    <dfm-button [color]="'primary'" [size]="'sm'" routerLink="/schedule-appointment/confirm-appointment" class="mx-3 basic-next-btn-mv"> Next </dfm-button>
  </div>