.display-3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.display-4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.display-5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.sidebar-menu {
  width: 18%;
  max-height: 198px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-primary {
  background-color: #531422 !important;
}

.text-secondary {
  color: #f4e3cf;
}

.text-primary {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  color: var(--dfm-primary) !important;
}

.sidebar-menu-items {
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* gap: 10px; */
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  color: #f4e3cf;
  padding: 10px;
}

.active-menu {
  background-color: #f4e3cf;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  border: none;
  color: #531422;
  width: 100%;
  text-align: left;
  font-weight: 600;
}

.login-dashboard-content {
  width: 100%;
  border-radius: 8px;
  // margin-left: 200px;
  // border: 1px solid red;
  padding: 0px;
  margin: 0px;
}

.my-profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 100%;
}

.dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}

.my-profile-form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  flex-direction: column;
  gap: 0px;
  padding: 35px;
  text-align: start;
}

.profile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  // margin-left: 100px;
}

.my-profile-footer-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.my-profile-footer-blank {
  width: 20%;
}

.my-profile-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  // box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
  padding: 20px;
  // margin-right: 108px;
  // margin-left: -48px;
}

.text-label {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #531422;
}

.lab-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  color: #000000;
}
.delete-button span{
  font-size: 14px;
  text-decoration: underline;
  color: var(--dfm-primary);
}
.save-change-btn-mv{
  display: none;
}
.revoke-btn-mv{
  display: none!important;
}
.remove-enable-btn-mv{
  display: none;
}
.form-group{
  width: 265px;
}

// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
  .form-group{
    width: 100%;
  }
  .form-group-container{
    display: flex;
    flex-direction: column;
    padding: 0px!important;
    width: 100%;
    gap: 0px!important;
    margin: 0px 0px 0px 0px!important;
  }
  .form-group{
    padding: 0px!important;
    margin: 0px!important;
  }
  .my-profile-form-group{
    gap: 0px!important;
    padding: 0px!important;
    background-color: transparent!important;
    box-shadow: none!important;
  }
  .my-profile-text{
    display: none;
  }
  .profile-footer-text{
    font-size: 16px!important;
  }
  .delete-button span{
    font-size: 15px!important;
  }
  .save-change-btn-mv{
    display: block!important;
  }
  .save-change-btn{
    display: none!important;
  }
  .revoke-btn-mv{
    display: block!important;
  }
  .revoke-btn{
    display: none!important;
  }
  .remove-enable-btn-mv{
    display: block!important;
  }
  .remove-enable-btn{
    display: none;
  }
  .form-v{
    width: 100%;
  }
  .main-container{
    padding: 10px;
  }
  .my-profile{
    margin: 10px 0px 0px 0px!important;
  }
  .my-profile-section{
    padding: 10px 10px;
    // border: 1px solid red;
    background-color:transparent;
    box-shadow: none;
  }

}
@media (min-width: 320px) and (max-width: 374px){
  .profile-footer-text{
    font-size: 13px!important;
  }
}
