<div class="main-container d-flex flex-column align-items-center dfm-p-32 dfm-gap-16">
  <section class=" form-v d-flex flex-column dfm-gap-16">
    <header class="text-center">
      <h4 class="font-weight-semi-bold m-0 my-profile">My Profile</h4>
    </header>

    <form [formGroup]="userForm" class="my-profile-section dfm-card w-fit">
      <div class="form-group-container d-flex justify-content-center p-3 gap-4">
        <div class="form-group">
          <dfm-input formControlName="firstname" type="text" size="sm" label="First Name*"
                     placeholder="First Name"></dfm-input>
        </div>
        <div class="form-group">
          <dfm-input formControlName="lastname" type="text" size="sm" label="Name*" placeholder="Enter Last Name"></dfm-input>
        </div>
      </div>
      <div class="form-group-container d-flex justify-content-center p-3 gap-4">
        <div class="form-group">
          <dfm-input formControlName="email" type="email" size="sm" label="Email*"
                     placeholder="Email"></dfm-input>
        </div>
        <div class="form-group">
          <dfm-input formControlName="phone" type="number" size="sm" label="Phone Number*"
                     placeholder="Phone"></dfm-input>
        </div>
      </div>
    </form>
  </section>

  <section>
    <div class="d-flex justify-content-center mt-3">
      <dfm-button [color]="'primary'" [size]="'lg'" class="save-change-btn" (click)="saveDetails()"
                  [disabled]="userForm.invalid"> Save Changes
      </dfm-button>
      <dfm-button [color]="'primary'" [size]="'sm'" class="save-change-btn-mv" (click)="saveDetails()"
                  [disabled]="userForm.invalid"> Save Changes
      </dfm-button>
    </div>
  </section>
</div>
