.sub-header-main-container {
  background-color:var(--dfm-secondary-lighter);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

.sub-header-sub-container {
  padding: 24px;
  max-width: 85%;

  .sub-header-img-container {
    display: flex;
    justify-content: end;
  }
}


// ======================Media Query for Mobile view=================
@media (max-width: 1024px) {
  .sub-header-sub-container {
    transition: 200ms all linear;
    padding: 24px 40px !important;
    max-width: 100% !important;
  }
}

@media (min-width: 180px) and (max-width: 680px) {
  .home-menu {
    display: none;
  }
  .navbar {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 45px!important;
    // transform: translate(-50%, -50%);
    // border: 1px solid red;
    background-color:var(--dfm-primary-lighter);
    width: 100%;
    padding: 0px 10px 0px 10px;
    // border: 1px solid red;
    height: 48px!important;
  }
  .dashboard-text {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #531422;
  }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    // border: 1px solid black;
  }
  .sub-menu {
    display: none!important;
    top: 40px;
  }
  .arrow-btn {
    display: block;
  }
  .register-btn {
    display: none;
  }
  .add-user-btn-mv {
    display: none;
  }
  .lang-btn {
    display: none;
  }
  .navbar img {
    display: block;
  }

  .small-container {
    display: none;
  }
  .language-btn {
    display: none;
  }
  .nav-brand{
    margin: 3px 0px 0px 0px!important;
  }
  .sub-header-main{
    display: none;
  }
  .lang-btn-mv{
    display: block!important;
    font-size: 13px;
  }
  .lang-btn{
    display: none!important;
  }
  .header-login-btn{
    display: block!important;
  }
  .header-register-btn{
    display: block!important;
  }
}
@media (min-width: 320px) and (max-width: 374px){
  .lang-btn-mv{
    gap:5px!important
  }
}
