<div class="container-fluid sub-header-main-container" style="overflow: hidden" *ngIf="(url !== undefined && url !== '/' && !displayRegisterButton) || url !== '/'">
  <div class="container-fluid">
    <div class="navbar">
      <div class="nav-brand d-flex justify-content-between align-items-center gap-2">
        <img src="../../../../assets/images/Diflexmo_Logo.svg" alt="Diflexmo-logo" class="pointer" width="134px" height="18px" (click)="navigateToHome()">
        <!-- <dfm-button [color]="'link'" [size]="'sm'" [leadingIcon]="'arrow-left'" class="arrow-btn" (click)="back()"></dfm-button> -->
        <!-- <span class="dashboard-text">{{(url === '/profile')?'Profile': (url === '/appointment')? 'Appointment': 'Dashboard'}}</span> -->
      </div>
      <div class="menu">
        <div class="text-primary display-4 home-hover home-menu" (click)="checkDisplayHeader()">Home</div>
        <div class="text-primary display-4 mx-3" *ngIf="!displayRegisterButton">
          <div class="register-menu">
            <dfm-button [color]="'link'" [size]="'lg'" [leadingIcon]="'user-plus-01'" class="register-btn"> Register </dfm-button>
            <dfm-button [color]="'secondary'" [size]="'sm'" [leadingIcon]="'user-01'" class="button-design add-user-btn-mv"></dfm-button>
            <div class="d-flex flex-row justify-content-between gap-2 align-items-center">
              <div routerLink="/auth/login" style="display: flex; flex-direction: row; justify-content: center; align-items: center; background-color: #531422; font-size: 13px; border: 1px solid #531422; border-radius: 6px; font-weight: 500; color: #f4e3cf; width: 50px; height:25px; line-height:25px; text-align: center;" class="header-login-btn"><span>Login</span></div>
              <div routerLink="/auth/register"style="display: flex; flex-direction: row; justify-content: center; align-items: center; background-color: #531422; font-size: 13px; border: 1px solid #531422; border-radius: 6px; font-weight: 500; color: #f4e3cf; width: 70px; height:25px; line-height:25px; text-align: center;"class="header-register-btn"><span>Register</span></div>
            </div>
            <div class="sub-menu">
              <div class="sub-menu-items">
                <dfm-button [color]="'primary'" [size]="'sm'" routerLink="/auth/register"> Register </dfm-button>
                <span class="display-5">Existing user? <span class="text-primary login-link" routerLink="/auth/login">Login</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="lang-btn-mv"><span class="text-lite-gray text-bold">NL|</span> <span class="text-primary text-bold">EN</span></div>
        <div class="lang-btn lang-dropdown">
          <dfm-input-dropdown [items]="items" label="" placeholder="" size="sm">
            {{ items.name }}
          </dfm-input-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="container sub-header-main">
    <div class="header-container">
      <div class="container-left">
        <span class="welcome-text text-primary">Welcome to Radiology</span><br />
        <span class="text-primary display-3">Schedule your appointment with us</span>
        <p class="text-primary display-5 mt-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit consequuntur consequatur quae architecto, dolore id?
        </p>
      </div>
      <div class="container-right">
        <div class="container-right-img">
          <img src="../../../../assets/images/landing-1.png" alt="user-holding-a-phone-img" width="300px" height="auto" />
        </div>
      </div>
    </div>
  </div>
  <!-- <dfm-footer></dfm-footer> -->
</div>