<dfm-sub-header></dfm-sub-header>
<div class="d-flex justify-content-center mt-4">
    <div>
        <dfm-button [color]="'primary'" [size]="'lg'">
            Basic Details
        </dfm-button>
    </div>
    <div>
        <hr class="progress-bar-hr mt-4">
    </div>
    <div class="button-design">
        <dfm-button [color]="'link'" [size]="'lg'">
            Select Exam
        </dfm-button>
    </div>
    <div>
        <hr class="progress-bar-hr mt-4">
    </div>
    <div class="button-design">
        <dfm-button [color]="'link'" [size]="'lg'">
            Select Date &amp; Time
        </dfm-button>
    </div>
    <div>
        <hr class="progress-bar-hr mt-4">
    </div>
    <div class="button-design">
        <dfm-button [color]="'link'" [size]="'lg'">
            Confirm
        </dfm-button>
    </div>
</div>

<div class="container justify-content-center bg-white mt-5">
    <div class="d-flex justify-content-center p-3">
        <div class="form-group">
            <dfm-input type="text" size="sm" label="First Name*" placeholder="Johan"></dfm-input>
        </div>
        <div class="mx-3">
            <dfm-input type="text" size="sm" label="Last Name*" placeholder="Green"></dfm-input>
        </div>
    </div>
    <div class="d-flex justify-content-center p-3">
        <div class="form-group">
            <dfm-input type="email" size="sm" label="Email*" placeholder="Email"></dfm-input>

        </div>
        <div class="mx-3">
            <dfm-input type="text" size="sm" label="Phone Number*" placeholder="Phone"></dfm-input>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-5">
    <dfm-button [color]="'primary'" [size]="'lg'" routerLink="/schedule-appointment/exam">
        Next
    </dfm-button>
</div>