<div class="small-container mt-5">
  <div class="previous-appointment-cards container d-flex justify-content-center mt-3">
    <div class="card-item bg-white">
      <div class="display-5 previous-appointments-date-time">
        <img src="../../../../../assets/images/clock-icon.svg" alt="clock-icon" width="18px" /><span>12 November,2022</span>
        <img src="../../../../../assets/images/checked-calendar-icon.svg" alt="calendar-icon" width="18px" />
        <span>12:30 P.M</span>
      </div>
      <span class="display-5">Exam: Levering Stuenzolean</span>
      <span class="display-5">Status: <span class="text-success">Completed</span></span>
    </div>
    <div class="card-item bg-white">
      <div class="display-5 previous-appointments-date-time">
        <img src="../../../../../assets/images/clock-icon.svg" alt="clock-icon" width="18px" /><span>12 November,2022</span>
        <img src="../../../../../assets/images/checked-calendar-icon.svg" alt="calendar-icon" width="18px" />
        <span>12:30 P.M</span>
      </div>
      <span class="display-5">Exam: Levering Stuenzolean</span>
      <span class="display-5">Status: <span class="text-success">Completed</span></span>
    </div>
    <div class="card-item bg-white">
      <div class="display-5 previous-appointments-date-time">
        <img src="../../../../../assets/images/clock-icon.svg" alt="clock-icon" width="18px" /><span>12 November,2022</span>
        <img src="../../../../../assets/images/checked-calendar-icon.svg" alt="calendar-icon" width="18px" />
        <span>12:30 P.M</span>
      </div>
      <span class="display-5">Exam: Levering Stuenzolean</span>
      <span class="display-5">Status: <span class="text-success">Completed</span></span>
    </div>
  </div>
</div>
