.overview-main-container {
  max-width: 85%;
  margin: 32px auto;
  padding: 32px;
  gap: 16px;
}

.overview-img-container {

}

.sa-btn-mv{
  display: none!important;
}
.login-text{
  text-decoration: underline;
  text-decoration-color: var(--dfm-primary);
}

// ======================Media Query for Mobile view=================

@media (max-width: 1024px) {
  .overview-main-container {
    margin: 32px;
    max-width: 100%;
  }
}

@media (min-width: 180px) and (max-width: 680px) {
  .overview-main-container{
    width: 100%;
    // border: 1px solid red;
    margin: 20px 0px 0px 0px;
  }
  .container.main {
    margin-top: 80px !important;
    width: 90%;
    margin: auto;
    border-radius: 4px;
  }
  .click-above-text{
    font-size: 13px;
  }
  .sa-btn-mv{
    display: none!important;
  }
  .link-section {
    align-items: flex-start;
  }
  .account-login-block{
    font-size: 15px;
  }
}

@media (min-width: 180px) and (max-width: 420px) {
  .hello-user-img {
    width: 200px;
    height: auto;
  }
  .sa-btn-mv{
    display: none!important;
  }
}
@media (min-width: 320px) and (max-width: 374px){
  .account-login-heading{
    display: flex!important;
    flex-direction: row!important;
    align-items: center;
    // gap:5px!important;
    // border: 1px solid red;
    line-height: 10px!important;
    font-size: 13px;
  }
  .sa-btn{
    display: none!important;
  }
  .sa-btn-mv{
    display: block!important;
  }
  .hello-user-text{
    font-size: 15px!important;
  }
  .click-above-text{
    font-size: 14.5px!important;
    font-weight: 600!important;
  }
  .account-login-block{
    font-size: 14px!important;
    // font-weight: 600!important;
  }
}
