<div class="overview-main-container d-flex flex-column align-items-center bg-white border-r-16">
  <h5 class="dfm-color-primary font-weight-high hello-user-text">
    <span *ngIf="(isLoggedIn$ | async) === false">
      {{"HelloUser" | translate}}!
    </span>
    <span *ngIf="(isLoggedIn$ | async) === true">
      {{"Hello" | translate}} {{ userName$ | async }}!
    </span>
  </h5>

  <div class="link-section d-flex align-items-center font-weight-medium dfm-gap-4" *ngIf="(isLoggedIn$ | async) === false">
    <span class="account-login-block">{{"AlreadyHaveAnAccount" | translate}}?</span>
    <div class="login-text">
      <dfm-button color="link" size="lg"><span class="login-text" (click)="login()">{{"Login" | translate}}</span></dfm-button>
    </div>
  </div>

  <div class="overview-img-container">
    <img src="../../../../../assets/images/online_calendar_new.png" alt="calendar-image" class="object-fit-contain"/>
  </div>

  <div class="d-flex justify-content-center" *ngIf="!(siteSetting?.disableAppointment)">
    <dfm-button [color]="'primary'" [size]="'lg'" (click)="removeEditStorage()"
                [routerLink]="(isLoggedIn$ | async) ? './schedule/exam' : '/schedule/exam'" class="sa-btn"> {{"ScheduleAppointment" | translate}}
    </dfm-button>
  </div>

  <div class="d-flex justify-content-center" *ngIf="!siteSetting?.disableAppointment">
    <dfm-button [color]="'primary'" [size]="'sm'" (click)="removeEditStorage()"
                [routerLink]="(isLoggedIn$ | async) ? './schedule/exam' : '/schedule/exam'" class="sa-btn-mv"> {{"ScheduleAppointment" | translate}}
    </dfm-button>
  </div>

  <div class="d-flex justify-content-center text-center" *ngIf="!siteSetting?.disableAppointment">
    <span class="font-weight-semi-bold text-lg check-above-text">{{"ClickScheduleAppointment" | translate}}</span>
  </div>

  <div class="d-flex justify-content-center text-center" *ngIf="siteSetting?.disableAppointment">
    <span class="font-weight-semi-bold text-lg check-above-text text-warning">{{(!siteSetting?.disableWarningText?.length || siteSetting?.disableWarningText === 'null') ?('NoOnlineAppointmentsTextMessage' | translate) : siteSetting?.disableWarningText}}</span>
  </div>
</div>
