* {
  font-family: 'Montserrat';
}
.container.main {
  // border: 1px solid red;
  border-radius: 8px;
}
.primary-button {
  background-color: #531422;
  padding: 9px 15px 9px 15px;
  border-radius: 8px;
  border: none;
  color: #f4e3cf;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s all ease;
}

.text-primary {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  color: #531422 !important;
}

.display-4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
}
.display-5 {
  font-weight: 500;
  font-size: 20px;
}
.click-above-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 5px;
}
.hello-user-img {
  min-width: 100px;
  height: auto;
  // border: 1px solid red;
}
.account-login-block{
  font-weight: 500;
}
.sa-btn-mv{
  display: none!important;
}

// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
  .container.main {
    margin-top: 80px !important;
    width: 90%;
    margin: auto;
    border-radius: 4px;
  }
  .click-above-text{
    font-size: 13px;
  }
  .sa-btn-mv{
    display: none!important;
  }
}

@media (min-width: 180px) and (max-width: 420px) {
  .hello-user-img {
    width: 200px;
    height: auto;
  }
  .sa-btn-mv{
    display: none!important;
  }
}
@media (min-width: 320px) and (max-width: 374px){
  .account-login-heading{
    display: flex!important;
    flex-direction: row!important;
    align-items: center;
    // gap:5px!important;
    // border: 1px solid red;
    line-height: 10px!important;
    font-size: 13px;
  }
  .sa-btn{
    display: none!important;
  }
  .sa-btn-mv{
    display: block!important;
  }
  .hello-user-text{
    font-size: 15px!important;
  }
  .click-above-text{
    font-size: 14.5px!important;
    font-weight: 600!important;
  }
  .account-login-block{
    font-size: 14px!important;
    // font-weight: 600!important;
  }
}
