<div class="overview-main-container d-flex flex-column align-items-center bg-white border-r-16">
  <h5 class="dfm-color-primary font-weight-medium">Hello User!</h5>

  <div class="d-flex align-items-center font-weight-medium dfm-gap-4">
    <span class="account-login-block">Already have an account?</span>
    <dfm-button color="link" size="lg" routerLink="/auth/login"> Login </dfm-button>
  </div>

  <div class="overview-img-container">
    <img src="../../../../../assets/images/online_calendar_new.png" alt="calendar-image" class="object-fit-contain" />
  </div>

  <div class="d-flex justify-content-center">
    <dfm-button [color]="'primary'" [size]="'lg'" routerLink="/schedule/exam" class="sa-btn"> Schedule Appointment </dfm-button>
  </div>

  <div class="d-flex justify-content-center">
    <dfm-button [color]="'primary'" [size]="'sm'" routerLink="/schedule-appointment/exam" class="sa-btn-mv"> Schedule Appointment </dfm-button>
  </div>

  <span class="font-weight-semi-bold text-lg">Click above to schedule an appointment</span>
</div>
