// .scrollable-div{
//     height: 100vh;
//     overflow-y: auto !important;
// }

// .progress-bar-hr {
//     width: 30px;
//     height: 3px;
//     opacity: 1;
// }

// .button-design{
//     padding: 9px 17px;
// }

// .confirm-details {
//     width: 100%;
//     gap: 30px;
// }

// .patient-details {
//     width: 60%;
//     max-height: 200px;
//     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//     border-radius: 8px;
//     padding: 15px 20px;
//     display: flex;
//     flex-direction: column;
//     font-weight: 700;
// }

// .display-4 {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 24px;
// }

// .text-primary {
//     color: #531422 !important;
//     padding-left: 8px;
// }

// .bg-lite-gray {
//     background-color: #E3E8EF;
// }

// .patient-detail-container{
//     padding: 8px 8px 8px 8px;
// }

// .appointment-details {
//     width: 100%;
//     border-radius: 8px;
//     padding: 15px 20px;
//     display: flex;
//     flex-direction: column;
//     font-weight: 600;
//     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//     height: 258px;
// }

// .display-5 {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 20px;
// }

// .appointment-date-time {
//     display: flex;
//     flex-direction: row;
//     justify-content: start;
//     align-items: center;
//     gap: 8px;
// }

// .lab-confirmation-status {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     gap: 15px;
// }

// .pending-status {
//     padding: 10px 15px 10px 15px;
//     color: #fff;
//     border-radius: 8px;
// }

// .basic-details-progress-bar {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     margin-left: -204px;
//   }

//   .progress-button {
//     background-color: #ffff;
//     padding: 9px 15px 9px 15px;
//     border-radius: 8px;
//     color: #531422;
//     border: none;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 24px;
//   }

//   .bg-primary{
//     background-color: #531422 !important;
//   }

//   .checkbox-section{
//     padding-left: 268px;
//   }

// .sidebar-menu {
//     width: 18%;
//     max-height: 198px;
//     border-radius: 8px;
//     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
// }

// .bg-primary {
//     background-color: #531422 !important;
// }

// .text-secondary{
//     color: #F4E3CF;
// }

// .text-primary {
//     font-weight: 500;
//     font-size: 20px;
//     line-height: 28px;
//     /* or 140% */

//     color: #531422 !important;
//   }

// .sidebar-menu-items {
//     padding: 15px;
//     display: flex;
//     flex-direction: column;
//     cursor: pointer;
//     /* gap: 10px; */
// }

// .menu-item {
//     display: flex;
//     flex-direction: row;
//     justify-content: start;
//     gap: 10px;
//     color: #F4E3CF;
//     padding: 10px;
// }

// .display-5 {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 20px;
// }

// // =======================

// .confirm-appointment {
//   height: 100vh;
//   overflow-y: auto !important;
// }
* {
  font-family: 'Montserrat';
}
.display-4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .display-5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .display-6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }
  
  .text-primary {
    color: #531422 !important;
    // padding-left: 8px;
  }
  
  .bg-lite-gray {
    background-color: #e3e8ef;
  }
  
  .progress-bar-hr {
    width: 30px;
    height: 3px;
    opacity: 1;
  }
  
  .button-design {
    padding: 9px 17px;
  }
  .container.confirm-details {
    padding: 0px;
  }
  
  .confirm-details {
    width: 100%;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
  
  .patient-detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  // .patient-details {
  //   max-height: 200px;
  //   border-radius: 4px;
  //   padding: 15px 25px;
  //   display: flex;
  //   flex-direction: column;
  //   font-weight: 700;
  //   // border: 1px solid red;
  //   width: 30%;
  // }
  .appointment-details {
    width: 100%;
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // height: 258px;
  }
  .appointment-details-section {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
  
  .appointment-date-time {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px !important;
    // border: 1px solid red;
    font-size: 14px;
    font-weight: 600;
  }
  
  .lab-confirmation-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  
  .pending-status {
    padding: 10px 15px 10px 15px;
    color: #fff;
    border-radius: 8px;
  }
  
  .basic-details-progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .progress-button {
    background-color: #ffff;
    padding: 9px 15px 9px 15px;
    border-radius: 8px;
    color: #531422;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  
  .bg-primary {
    background-color: #531422 !important;
  }
  
  .checkbox-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //   border: 1px solid red;
    gap: 10px;
  }
  .checkbox-section-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    gap: 10px;
  }
  .time-slot-btn-mv {
    display: none;
  }
  // .exams-category-text-mv {
  //   display: none;
  // }
  .text-underline-mv {
    display: none;
  }
  .edit-btn-mv {
    display: none;
  }
  .cancel-btn-mv {
    display: none;
  }
  .appointment-text {
    display: none;
  }
  .exams-category-text {
    display: block;
  }
  .exams-category-text-mv {
    display: none !important;
  }
  .appointment-hr-mv {
    display: none;
  }
  .exam-btn-mv{
    display: none;
  }
  .back-btn-mv{
    display: none;
  }
  .back-btn{
    display: block;
  }
  .confirm-btn-mv{
    display: none;
  }
  
  // ======================Media Query for Mobile view=================
  @media (min-width: 180px) and (max-width: 680px) {
    .confirm-appointment {
      background-color: #fff;
    }
    .basic-details-progress-bar {
      // border: 1px solid red;
      margin-top: 10px !important;
      // border: 1px solid red;
    }
    .basic-details-progress-bar .progress-button {
      font-size: 14px;
    padding: 9px !important;
    border-radius: 4px;
    font-weight: 400;
    line-height: 14px;
    }
    .basic-details-progress-bar .time-slot-btn {
      display: none;
    }
    .basic-details-progress-bar .time-slot-btn-mv {
      display: block;
    }
    .progress-bar-hr {
      width: 30px;
      height: 2px;
      opacity: 1;
    }
    .confirm-details {
      // border: 1px solid red;
      width: 100%;
      display: flex !important;
      flex-direction: column !important;
      // border: 1px solid red;
      padding: 5px !important;
    }
    .confirm-details .patient-details {
      display: block;
      width: 100%;
    }
    .patient-detail-container {
      font-weight: 500;
    }
    .confirm-details .appointment-details {
      // border: 1px solid black;
      width: 100%;
    }
    .appointment-text {
      display: block;
      font-weight: 600;
    }
    .appointment-details .appointment-text {
      display: none;
    }
    .appointment-details .appointment-hr {
      display: block;
    }
    .appointment-details .appointment-hr-mv {
      display: block;
      margin: 0px;
    }
    .appointment-date-time {
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      gap: 8px !important;
    }
    .appointment-details-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0px;
    }
    .exams-category-text {
      display: none;
    }
    .exams-category-text-mv {
      display: block !important;
      font-size: 14px;
      font-weight: 700;
    }
    .exams-category-text {
      display: none !important;
    }
    .instructions-text-section {
      // border: 1px solid red;
      margin: 10px 0px 0px 0px !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }
    .instructions-text-section .instruction-text {
      color: #531422;
      font-size: 16px;
      font-weight: 500;
    }
    .confirm-btn-section {
      // border: 1px solid red;
      margin: 30px 0px 0px 0px !important;
      gap: 20px;
    }
    .lab-confirmation-status {
      display: flex !important;
      flex-direction: column;
      // justify-content: start !important;
      align-items: flex-start;
      // border: 1px solid red;
      gap: 15px;
    }
    .edit-btn {
      display: none;
    }
    .cancel-btn {
      display: none;
    }
    .edit-btn-mv {
      display: block;
    }
    .cancel-btn-mv {
      display: block!important;
    }
    .confirm-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .patient-hr {
      display: block;
    }
    .name {
      width: 40%;
      font-size: 14px;
    }
    .value {
      width: 60%;
      font-size: 14px;
    }
  
    .pending-status {
      margin: 15px 0px 0px 0px;
    }
    .exam-btn-mv{
      display: block!important;
    }
    .exam-btn{
      display: none!important;
    }
    .back-btn-mv{
      display: block!important;
    }
    .back-btn{
      display: none!important;
    }
    .confirm-btn-mv{
      display: block!important;
    }
    .confirm-btn{
      display: none!important;
    }
  }
  