.content {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;
  flex: 1;
}

.body-content {
  display: flex;
  flex-direction: column;
  margin-top: 76px;
  min-height: calc(100vh - 76px);
  width: 100%;
  overflow-y: auto;
}

.body-content-logged-in {
  min-height: calc(100vh - 40px);
  margin-top: 40px;
}


// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
  .body-content {
    margin-top: 50px;
    min-height: calc(100vh - 50px);
  }
}


// ======================Media Query for Mobile view=================
@media (min-width: 180px) and (max-width: 680px) {
}
