<!--<div class="main-container">-->
<!--  <dfm-sub-header></dfm-sub-header>-->

<!--  <div [ngClass]="displaySidebar && url !== '/' ? 'd-flex dashboard-main-container-mv justify-content-between mt-4 gap-5 px-5' : ''" >-->
<!--    <div-->
<!--      [ngClass]="!displaySidebar ? '' : 'sidebar-menu border-r sidebar-menu-shadow'"-->
<!--      *ngIf="(url !== '/' && displaySidebar) || url !== '/'"-->
<!--    >-->
<!--      <div class="sidebar-menu-items" *ngIf="displaySidebar">-->
<!--        <div class="menu-item d-flex" routerLink="/dashboard" (click)="checkUrl()">-->
<!--          <img src="../../../../../assets/images/home-icon.svg" alt="home-icon" class="logo" />-->
<!--          <span-->
<!--            [ngClass]="-->
<!--              url == '/dashboard' ||-->
<!--              url == '/dashboard/exam' ||-->
<!--              url == '/dashboard/date-time' ||-->
<!--              url == '/dashboard/confirm-appointment'-->
<!--                ? 'display-5 text-decoration-none active-menu'-->
<!--                : 'display-5 text-decoration-none'-->
<!--            "-->
<!--            >Dashboard</span-->
<!--          >-->
<!--        </div>-->
<!--        <div class="menu-item d-flex cursor-pointer" routerLink="/appointment">-->
<!--          <img src="../../../../../assets/images/calendar_icon.svg" alt="calendar-icon" class="logo" />-->
<!--          <span-->
<!--            [ngClass]="-->
<!--              url == '/appointment' || url == '/appointment/view-all'-->
<!--                ? 'display-5 text-decoration-none active-menu'-->
<!--                : 'display-5 text-decoration-none'-->
<!--            "-->
<!--            >My appointments</span-->
<!--          >-->
<!--        </div>-->
<!--        <div class="menu-item d-flex float-left cursor-pointer" routerLink="/profile">-->
<!--          <img src="../../../../../assets/images/user_icon.svg" alt="user-icon" class="logo" />-->
<!--          <span [ngClass]="url == '/profile' ? 'display-5 text-decoration-none active-menu' : 'display-5 text-decoration-none'"-->
<!--            >Profile</span-->
<!--          >-->
<!--        </div>-->
<!--        <div class="menu-item d-flex cursor-pointer" (click)="logOut()">-->
<!--          <img src="../../../../../assets/images/logout_icon.svg" alt="logout-icon" class="logo" />-->
<!--          <span class="display-5 text-decoration-none">Logout</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;==============||sidebar for mobile view starts here||=====================&ndash;&gt;-->

<!--    &lt;!&ndash; <div [ngClass]="displaySidebar && url !== '/' ? 'd-flex flex-row' : ''"> &ndash;&gt;-->
<!--    <div [ngClass]="displaySidebar ? 'sidebar-menu-mv border-r mx-5' : ''" *ngIf="(url !== '/' && displaySidebar) || url !== '/'">-->
<!--      <div class="sidebar-menu-items-mv" *ngIf="displaySidebar">-->
<!--        <div class="menu-item" routerLink="/dashboard" (click)="checkUrl()">-->
<!--          &lt;!&ndash; <img src="../../../../../assets/images/home-icon.svg" alt="home-icon" class="logo" width="30px" height="30px"/> &ndash;&gt;-->
<!--          &lt;!&ndash; <div style="width: 20px; height: 20px"><dfm-icon [name]="'home-03'"></dfm-icon></div> &ndash;&gt;-->
<!--          <span-->
<!--            [ngClass]="-->
<!--              url == '/dashboard' || url == '/dashboard/exam' || url == '/dashboard/date-time' || url == '/dashboard/confirm-appointment'-->
<!--                ? 'display-5 text-decoration-none active-menu-mv'-->
<!--                : 'display-5 text-decoration-none'-->
<!--            "-->
<!--          >-->
<!--          <img src="../../../../../assets/images/home-icon.svg" alt="home-icon" class="logo" width="30px" height="30px"/>-->
<!--        </span>-->
<!--        </div>-->
<!--        <div class="menu-item d-flex cursor-pointer" routerLink="/appointment" >-->
<!--          &lt;!&ndash; <div style="width: 20px; height: 20px"><dfm-icon [name]="'home-03'" class=".active-menu-mv"></dfm-icon></div> &ndash;&gt;-->
<!--          <span-->
<!--            [ngClass]="-->
<!--              url == '/appointment' || url == '/appointment/view-all'-->
<!--                ? 'display-5 text-decoration-none active-menu-mv'-->
<!--                : 'display-5 text-decoration-none'-->
<!--            "-->
<!--          >-->
<!--          <img src="../../../../../assets/images/calendar_icon.svg" alt="calendar-icon" class="logo"width="30px" height="30px" />-->

<!--        </span>-->
<!--        </div>-->
<!--        <div class="menu-item d-flex float-left cursor-pointer" routerLink="/profile">-->
<!--          &lt;!&ndash; <div style="width: 20px; height: 20px"><dfm-icon [name]="'home-03'"></dfm-icon></div> &ndash;&gt;-->
<!--          <span [ngClass]="url == '/profile' ? 'display-5 text-decoration-none active-menu-mv' : 'display-5 text-decoration-none'">-->
<!--            <img src="../../../../../assets/images/user_icon.svg" alt="user-icon" class="logo" width="30px" height="30px"/>-->
<!--          </span>-->
<!--        </div>-->
<!--        <div class="menu-item d-flex cursor-pointer" (click)="logOut()">-->
<!--          &lt;!&ndash; <div style="width: 20px; height: 20px"><dfm-icon [name]="'home-03'"></dfm-icon></div> &ndash;&gt;-->
<!--          <span class="display-5 text-decoration-none">-->
<!--          <img src="../../../../../assets/images/logout_icon.svg" alt="logout-icon" class="logo" width="30px" height="30px" />-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; </div> &ndash;&gt;-->
<!--    &lt;!&ndash;==============||sidebar for mobile view ends here||=====================&ndash;&gt;-->
<!--    <div [ngClass]="displaySidebar ? 'login-main-container' : ''">-->
<!--      <div [ngClass]="displaySidebar ? 'dashboard-main-content' : ''">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <dfm-footer></dfm-footer>-->
<!--</div>-->

<!--<dfm-footer></dfm-footer>-->

<div class="d-flex w-100">
  <dfm-side-nav *ngIf="isLoggedIn$ | async"></dfm-side-nav>

  <div class="content">
    <dfm-header></dfm-header>

    <div class="body-content scrollbar-w-8" [ngClass]="{ 'body-content-logged-in': isLoggedIn$ | async }">
      <dfm-sub-header *ngIf="url.includes('schedule') || url.includes('dashboard')"></dfm-sub-header>
      <router-outlet></router-outlet>
      <dfm-footer></dfm-footer>
    </div>
  </div>
</div>
